<!DOCTYPE html>
<html lang="en">
<head>
   <@_includePlace path="/63241365-51a7-4903-89e6-7619031fa9fe.html"/> <#-- Header-link -->
	<link href="${site.sitePath}css/earthchem.css" rel="stylesheet">

<link href="${site.sitePath}datatables/DataTables-1.10.25/css/dataTables.bootstrap4.css" rel="stylesheet">
	<script src="${site.sitePath}datatables/datatables.js"></script>
	<link href="${site.sitePath}datatables/Buttons-1.7.1/css/buttons.bootstrap4.css" rel="stylesheet">
	<script src="${site.sitePath}datatables/Buttons-1.7.1/js/buttons.bootstrap4.min.js"></script>
	<script src="${site.sitePath}datatables/JSZip-2.5.0/jszip.min.js"></script>

	<style>
	div.dt-buttons {
        clear: both;
    }
	</style>
	
</head>
<body class="menu-always-on-top">
    <@_includePlace path="/c8014652-e25e-4c4d-a3ca-9aad7fa0385c.html"/> <#-- header -->
	<input type="hidden" name="_csrf" value="<@_csrfToken/>"/>
	<div class="wrapper" style="margin-top:100px;">
		<div style="width:80%;">
			<h3> Search Result:</h3>
			<p>The following result data is filtered out according to the space range you selected and the columns displayed. <br>You can click the Save... button to download and save as an excel file.</p>
		</div>
		<!-- end header -->
       <table id="example" class="table table-striped table-bordered" style="width:80%;">
     
       
       </table>

    </div>

    <@_includePlace path="/f95e232b-027b-40ae-9e2d-0a6385f7c418.html"/> <#-- footer -->
<script>
	$(document).ready(function() {
			var map=JSON.parse(sessionStorage.getItem("options"));
		     console.log(map);
		    mycolumns=new Array();
		   
		
			 for(var prop in map){
				   var temp={ "data": prop,"title":map[prop] };
					mycolumns.push(temp);
			}
		   console.log(mycolumns);
		  
		
			$('#example').DataTable( {
				"pageLength":25,
				 "responsive": true,
				"processing": true,
				"serverSide": false,
				"ajax":  {
					"type":"post",
					"url": "${site.dynamicPath!}sampleInfo/getSampleList",
					"data": function ( d ) {
						d.polygon = sessionStorage.getItem("polygon");
						d.csrf=$("#_csrf").val();
					}
				},
				dom: 'Blfrtip',
					   "buttons": [  
				 			    {
									extend: 'excel',
									text:"Save...",
									messageTop: 'The copyright of the data you downloaded belongs to the DDE onepetroleum team. Please abide by the relevant DDE regulations and the team agreement when using the data, and please quote it from this website when publishing.<br>您下载的数据版权属于DDE-OnePetrology团队，请您在使用数据时遵守相关DDE的规定以及团队的约定，并请在发表时一定标注上引自于本网站。'
								}
						   //'colvis'
					   ],
				 "columns":mycolumns
			} );
		
		
	} );
</script>


</body>
</html>