<!DOCTYPE html>
<html lang="en">
<head>
<@_includePlace path="/63241365-51a7-4903-89e6-7619031fa9fe.html"/> <#-- Header-link -->
	<style type="text/css">
		.frontbuttontext {
			font-size: 16px;
			text-align: center;
			font-weight: bold;
			color: #f39b03;
		}
		.frontbuttonimage {
			width: 180px;
		}
		.buttonouter {
			padding: 3px;
			border: 1px solid #CDCDCD;
			border-radius: 4px;
			width: 200px;
			background-color: #FFF;
		}
		
		.frontpagebuttontd{
		    padding-right: 15px;
			width: 120px;
			text-align: center;

		}
    </style>

</head>
<body  class="menu-always-on-top">
	<@_includePlace path="/c8014652-e25e-4c4d-a3ca-9aad7fa0385c.html"/> <#-- header -->
    <div class="wrapper"  style=" width: 90%;   padding-top: 120px; padding-left: 300px; min-height: 100vh;">
		<table>
			<tbody>
				<tr>
					<td>
						<div class="searchtitle" style="text-align:left;padding-top:10px;line-height:20px;">
							<h2>OnePetrology Search: Find &amp; Select Samples &amp; Data</h2>
						</div>
						<div class="searchsubtitle" style="text-align:left;color:#0a0a0a;font-weight:100">
							_________________________________________________________________________________________________________________________________________________
						</div>
					</td>
				</tr>
				<tr>
					<td>
					<div style="padding-top:10px;">
						<table>
							<tbody><tr>
								<td valign="top">
									<table style="height:532px;">
										<tbody><tr>
											<td class="frontpagebuttontd">
												<div class="buttonouter">
													<a href="${site.dynamicPath!}search/polygonquery.html"><img class="frontbuttonimage" src="${site.sitePath}images/search/by_location_rock_earth.png"></a>
												</div>
											</td>
											<td class="frontpagebuttontd">
												<div class="buttonouter">
													<a href="javascript: alert('coming soon......');"><img class="frontbuttonimage" src="${site.sitePath}images/search/by_feature.png"></a>
												</div>
											</td>
											<td class="frontpagebuttontd">
												<div class="buttonouter">
													<a href="javascript: alert('coming soon......');"><img class="frontbuttonimage" src="${site.sitePath}images/search/by_sample_type.png"></a>
												</div>
											</td>
											
										</tr>
										<tr>
											<td class="frontpagebuttontexttd">
												<div class="frontbuttontext">
													By Location
												</div>
											</td>
											<td class="frontpagebuttontexttd">
												<div class="frontbuttontext">
													By Feature
												</div>
											</td>
											<td class="frontpagebuttontexttd">
												<div class="frontbuttontext">
													By Sample Type
												</div>
											</td>
											
										</tr>
										<tr>
											<td class="frontpagebuttontd">
												<div class="buttonouter">
													<a href="${site.dynamicPath!}data/byChemstry.html"><img class="frontbuttonimage" src="${site.sitePath}images/search/by-chemistry.png"></a>
												</div>
											</td>
											<td class="frontpagebuttontd">
												<div class="buttonouter">
													<a href="javascript: alert('coming soon......');"><img class="frontbuttonimage" src="${site.sitePath}images/search/by_tectonic.png"></a>
												</div>
											</td>
											<td class="frontpagebuttontd">
												<div class="buttonouter">
													<a href="${site.dynamicPath!}data/byAge.html"><img class="frontbuttonimage" src="${site.sitePath}images/search/by_age.jpg"></a>
												</div>
											</td>

										</tr>
										<tr>
											<td class="frontpagebuttontexttd">
												<div class="frontbuttontext">
													By Chemistry
												</div>
											</td>
											<td class="frontpagebuttontexttd">
												<div class="frontbuttontext">
													By Tectonic Setting
												</div>
											</td>
											<td class="frontpagebuttontexttd">
												<div class="frontbuttontext">
													By Age
												</div>
											</td>

										</tr>
									</tbody></table>
								</td>
								<td>
									&nbsp;
								</td>
								<td style="padding-left: 30px;" valign="top" nowrap="">
									<div class="moreoptionsouter">
										<div class="moreoptions">
											More Options:
										</div>
									</div>
								</td>
								<td>
									&nbsp;
								</td>
								<td valign="top">
									<table>
										<tbody><tr>
											<td>
												<div>
																							</div>
											</td>
										</tr>
										<tr>
											<td>
												<div class="criteriawrapper">
																							</div>
											</td>
										</tr>

									</tbody></table>
								</td>
							</tr>
						</tbody></table>
					</div>
   			   </td>
			</tr>
		</tbody></table>

<div id="debug" style="color:#666666;font-size:.8em;display:none;">

countstring:
<p>pkey 3414936 </p><p><b>form vars:</b><br>pkey : 3414936<br></p></div>

			<!-- start footer -->
		</div>
	<br/>
	<@_includePlace path="/f95e232b-027b-40ae-9e2d-0a6385f7c418.html"/> <#-- footer -->
</body>
</html>