<!DOCTYPE html>
<html lang="en">
<head>
		<@_includePlace path="/4a77f49d-45f6-40fb-b7f5-99946b6e2398.html"/> <#-- Header-link -->
<@_includePlace path="/74b37900-545a-4dfa-b1ae-43cf77dd790c.html"/> <#-- 关键金属head -->

<@_includePlace path="/3f5dfe1e-f43a-44c2-a436-cbd1518cbc50.html"/> <#-- head-gis-link -->
</head>

<body>
<@_includePlace path="/1ab2995b-a401-4885-8228-402f80be6874.html"/> <#-- 关键金属header -->

<@_includePlace path="/aef97932-8337-4a93-95b2-6303c087289d.html"/> <#-- home-world-gis-div -->
	
	<@_includePlace path="/06ffd935-ce37-4fc3-8de9-6017b63422a2.html"/> <#-- 变革要闻 -->
	<@_includePlace path="/cd420983-f68a-46bb-83f6-e5e9208802d4.html"/> <#-- 变革进展 -->
<@_includePlace path="/d8181b47-dcd0-4a36-ac5b-91bdc6b84460.html"/> <#-- 变革summary -->

<@_includePlace path="/7b419669-3928-4fa3-a405-23f01553ca59.html"/> <#-- 关键金属footer -->
</body>
</html>