<@_sampleList   >

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>岩浆岩数据库——样品基本信息</title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, target-densitydpi=device-dpi" />
	<link href="${site.sitePath}leaflet/leaflet.css" rel="stylesheet"/>
	<script src="${site.sitePath}leaflet/leaflet.js"></script>
	<script src="${site.sitePath}leaflet/PruneCluster.js"></script>
    <script src="${site.sitePath}publishdata/samplePoints.js"></script>
    <link href="${site.sitePath}leaflet/pruneCluster-examples.css" rel="stylesheet"/>
	
	<script src="${site.sitePath}js/jquery-1.9.1.min.js"></script>
	<link href="${site.sitePath}css/jquery.range.css" rel="stylesheet"/>
	<script src="${site.sitePath}js/jquery.range.js"></script>
	
	<script src="${site.sitePath}bootstrap/js/bootstrap.min.js"></script>
	<link href="${site.sitePath}bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
	
</head>
<body>

	
<div id="map"></div>
	
	  <div class="row show-grid">
		<div class="col-md-2 " >
			<p style="text-align: left;">
				  Input Sample Code please(<span> ${count} </span>):
			  </p>
			<input type="text"  placeholder="sample code"/>
		</div>
		  
	   <div  class="col-md-2 "  >
			  <p style="text-align: center;">
				  年龄误差
			  </p>
			<input type="hidden" value="0.05, 0.70" id="range"  class="slider-input"/>
		</div>
		   <div  class="col-md-2 "  >
			  <p style="text-align: center;">
				  年龄
			  </p>
			<input type="hidden" value="0.05, 0.70" id="range"  class="slider-input"/>
		</div>
		   <div  class="col-md-2 "  >
			  <p style="text-align: center;">
				  采样时间
			  </p>
			<input type="hidden" value="0.05, 0.70" id="range"  class="slider-input"/>
		</div>
		   <div  class="col-md-2 "  >
			  <p style="text-align: center;">
				  相似程度
			  </p>
			<input type="hidden" value="0.05, 0.70" id="range"  class="slider-input"/>
		</div>
		   <div  class="col-md-2 "  >
			  <p style="text-align: center;">
				  选用误差
			  </p>
			<input type="hidden" value="0.05, 0.70" id="range"  class="slider-input"/>
		</div>
	</div>


	
<script>
    var map = L.map("map", {
        attributionControl: false,
        zoomControl: false
    }).setView(L.latLng(34, 108), 4);

    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        detectRetina: true,
        maxNativeZoom: 18
    }).addTo(map);

    var leafletView = new PruneClusterForLeaflet();

	<#list page as a>
		<#if a.longitude  != 0  && a.latitude!=0>
		 leafletView.RegisterMarker(new PruneCluster.Marker(${a.latitude},${ a.longitude}, {title:"${ a.originalSampleId!}"}));
		</#if>
     </#list>
   
    leafletView.PrepareLeafletMarker = function (marker, data) {
        if (marker.getPopup()) {
            marker.setPopupContent(data.title);
        } else {
            marker.bindPopup(data.title);
        }
    };

    map.addLayer(leafletView);
</script>
<script>
		$('.slider-input').jRange({
		        from: 0.00,   				//滑块范围的初始值
		        to: 1.00,    				//滑块范围的终止值
		        step: 0.01,   				//设置步长
		        scale: [0,1], //滑动条下方的尺度变标签
		        format: '%s',  			//数值格式
		        width: 300, 			//进度条的宽度
		        showLabels: true,  		//是否显示滑动条下方的尺寸标签
		        showScale: true,  		//是否显示滑块上方的数值标签
		        isRange: true,     		//是否为选取范围
		        onstatechange: function(e){    //滑块范围改变时触发的方法
		            console.log(e);
		        }
		    });
			
		$('.slider-input').jRange('setValue', '0.05, 0.70'); 
		
	</script>	
	
	<@_sampleInfoList sampleId=sampleId originalSampleId=originalSampleId
countryCode=countryCode location=location lithology=lithology
rockName=rockName rockCode=rockCode era=era
geobodyName=geobodyName geobodyCode=geobodyCode tectonicLocation=tectonicLocation
primaryStructuralUnit=primaryStructuralUnit secondaryStructuralUnit=secondaryStructuralUnit tertiarySturcturalUnit=tertiarySturcturalUnit
surroundingRockAge=surroundingRockAge surroundingRockLithology=surroundingRockLithology relationshipWithSurroundingRock=relationshipWithSurroundingRock
form=form isCutAreaConstructionLine=isCutAreaConstructionLine degreeOfDeformation=degreeOfDeformation
characteristicMinerals=characteristicMinerals geneticType=geneticType tectonicType=tectonicType
sourceOfStructuralTypeDiscrimination=sourceOfStructuralTypeDiscrimination alkalinity=alkalinity aluminumQuality=aluminumQuality
collector=collector collectorOrg=collectorOrg reviewer=reviewer
analyzeOrg=analyzeOrg analyzePerson=analyzePerson testObject=testObject
testDate=testDate testMethod=testMethod articleDoi=articleDoi
hasChecked=hasChecked
orderField=orderField orderType=orderType pageIndex=pageNum pageSize=numPerPage>


<div class="pageContent">

    <table class="list" width="300%" layoutH="80">
        <thead>
            <tr>
                <th width="20"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
                <th>ID</th>
                <th orderField="sampleId" class="<#if orderField??&&'sampleId'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">样品编码</th>
                <th orderField="originalSampleId" class="<#if orderField??&&'originalSampleId'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">原始样品编码</th>
                <th orderField="longitude" class="<#if orderField??&&'longitude'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">地理经度</th>
                <th orderField="latitude" class="<#if orderField??&&'latitude'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">地理纬度</th>
                <th orderField="countryCode" class="<#if orderField??&&'countryCode'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">国家编码</th>
                <th orderField="location" class="<#if orderField??&&'location'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">所在地区</th>
                <th orderField="lithology" class="<#if orderField??&&'lithology'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">岩性</th>
                <th orderField="rockName" class="<#if orderField??&&'rockName'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">岩石名称</th>
                <th orderField="rockCode" class="<#if orderField??&&'rockCode'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">岩石名称代码</th>
                <th orderField="era" class="<#if orderField??&&'era'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">地质年代</th>
                <th orderField="geobodyName" class="<#if orderField??&&'geobodyName'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">地质体名称</th>
                <th orderField="geobodyCode" class="<#if orderField??&&'geobodyCode'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">地质体代码</th>
                <th orderField="tectonicLocation" class="<#if orderField??&&'tectonicLocation'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">构造位置</th>
                <th orderField="primaryStructuralUnit" class="<#if orderField??&&'primaryStructuralUnit'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">一级构造单元</th>
                <th orderField="secondaryStructuralUnit" class="<#if orderField??&&'secondaryStructuralUnit'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">二级构造单元</th>
                <th orderField="tertiarySturcturalUnit" class="<#if orderField??&&'tertiarySturcturalUnit'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">三级构造单元</th>
                <th orderField="surroundingRockAge" class="<#if orderField??&&'surroundingRockAge'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">围岩时代</th>
                <th orderField="surroundingRockLithology" class="<#if orderField??&&'surroundingRockLithology'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">围岩岩性</th>
                <th orderField="relationshipWithSurroundingRock" class="<#if orderField??&&'relationshipWithSurroundingRock'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">与围岩关系</th>
                <th orderField="form" class="<#if orderField??&&'form'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">形态</th>
                <th width="140" orderField="isCutAreaConstructionLine" class="<#if orderField??&&'isCutAreaConstructionLine'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">是否切割区域构造线</th>
                <th orderField="degreeOfDeformation" class="<#if orderField??&&'degreeOfDeformation'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">变形程度</th>
                <th orderField="characteristicMinerals" class="<#if orderField??&&'characteristicMinerals'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">特征矿物</th>
                <th orderField="geneticType" class="<#if orderField??&&'geneticType'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">成因类型</th>
                <th orderField="tectonicType" class="<#if orderField??&&'tectonicType'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">构造类型</th>
                <th orderField="sourceOfStructuralTypeDiscrimination" class="<#if orderField??&&'sourceOfStructuralTypeDiscrimination'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">构造类型判别来源</th>
                <th orderField="alkalinity" class="<#if orderField??&&'alkalinity'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">碱性程度</th>
                <th orderField="aluminumQuality" class="<#if orderField??&&'aluminumQuality'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">铝质程度</th>
                <th orderField="age" class="<#if orderField??&&'age'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">年龄</th>
                <th orderField="ageError" class="<#if orderField??&&'ageError'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">年龄误差</th>
                <th orderField="photo" class="<#if orderField??&&'photo'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">样品照片</th>
                <th orderField="collector" class="<#if orderField??&&'collector'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">样品采集人员</th>
                <th orderField="collectorOrg" class="<#if orderField??&&'collectorOrg'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">采集人员单位</th>
                <th orderField="reviewer" class="<#if orderField??&&'reviewer'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">样品审核人</th>
                <th orderField="analyzeOrg" class="<#if orderField??&&'analyzeOrg'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">分析/鉴定单位</th>
                <th orderField="analyzePerson" class="<#if orderField??&&'analyzePerson'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">分析/鉴定人员</th>
                <th orderField="testObject" class="<#if orderField??&&'testObject'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">测试对象</th>
                <th orderField="testDate" class="<#if orderField??&&'testDate'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">分析/测定时间</th>
                <th orderField="testMethod" class="<#if orderField??&&'testMethod'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">分析/测定方法</th>
                <th orderField="ageSelected" class="<#if orderField??&&'ageSelected'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">选用年龄</th>
                <th orderField="ageSelectedError" class="<#if orderField??&&'ageSelectedError'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">选用年龄误差</th>
                <th orderField="articleId" class="<#if orderField??&&'articleId'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">发表文献编号</th>
                <th orderField="articleDoi" class="<#if orderField??&&'articleDoi'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">文章DOI</th>
                <th orderField="hasChecked" class="<#if orderField??&&'hasChecked'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">审核</th>
                <th>备注</th>
              
            </tr>
        </thead>
        <tbody>
            <#list page.list as a>
            <tr target="sid" rel="${a.id}">
                <td><input name="ids" value="${a.id}" type="checkbox"></td>
                <td>${a.id!}</td>
                <td>${a.sampleId!}</td>
                <td>${a.originalSampleId!}</td>
                <td>${a.longitude!}</td>
                <td>${a.latitude!}</td>
                <td>${a.countryCode!}</td>
                <td>${a.location!}</td>
                <td>${a.lithology!}</td>
                <td>${a.rockName!}</td>
                <td>${a.rockCode!}</td>
                <td>${a.era!}</td>
                <td>${a.geobodyName!}</td>
                <td>${a.geobodyCode!}</td>
                <td>${a.tectonicLocation!}</td>
                <td>${a.primaryStructuralUnit!}</td>
                <td>${a.secondaryStructuralUnit!}</td>
                <td>${a.tertiarySturcturalUnit!}</td>
                <td>${a.surroundingRockAge!}</td>
                <td>${a.surroundingRockLithology!}</td>
                <td>${a.relationshipWithSurroundingRock!}</td>
                <td>${a.form!}</td>
                <td>${a.isCutAreaConstructionLine!}</td>
                <td>${a.degreeOfDeformation!}</td>
                <td>${a.characteristicMinerals!}</td>
                <td>${a.geneticType!}</td>
                <td>${a.tectonicType!}</td>
                <td>${a.sourceOfStructuralTypeDiscrimination!}</td>
                <td>${a.alkalinity!}</td>
                <td>${a.aluminumQuality!}</td>
                <td>${a.age!}</td>
                <td>${a.ageError!}</td>
                <td>${a.photo!}</td>
                <td>${a.collector!}</td>
                <td>${a.collectorOrg!}</td>
                <td>${a.reviewer!}</td>
                <td>${a.analyzeOrg!}</td>
                <td>${a.analyzePerson!}</td>
                <td>${a.testObject!}</td>
                <td>${a.testDate!}</td>
                <td>${a.testMethod!}</td>
                <td>${a.ageSelected!}</td>
                <td>${a.ageSelectedError!}</td>
                <td>${a.articleId!}</td>
                <td>${a.articleDoi!}</td>
                <td>${a.hasChecked!}</td>
                <td>${a.remark!}</td>
                <td>
              
            </tr>
            </#list>
        </tbody>
    </table>
    <#include "../include_page/page.html"/>
</@_sampleInfoList>
</div>
	
</body>
</html>
</@_sampleList>