<!DOCTYPE html>
<html lang="en">
<@_includePlace path="/940fd251-b42a-4d62-a863-106b41db3b21.html"/> <#-- 变革Head -->
<body>
  <@_includePlace path="/501dbfda-4c14-4841-8c70-cfb693c2f3b1.html"/> <#-- 变革header -->

	<div class="container">

            <div class="jumbotron">
                <p class="lead">“变革性技术关键科学问题”--揭示三维岩石圈物质架构的理论方法体系</p>
                <hr class="my-4">
                <p>
                    针对岩石圈深部物质组成架构探究缺乏理论方法这一问题，通过“岩石探针”及岩浆岩多元同位素示踪与区域填图，并与地球物理探测、实验模拟结果对比，构建以“岩石探针”与同位素填图为核心的揭示三维岩石圈物质组成架构的理论方法体系，为探明深部物质组成架构提供技术支撑。</p>
                <h6>联系我们：fanrunlong2003#126.com</h6>



            </div>
        </div>
	
	<@_includePlace path="/95481b45-919b-413f-bbfb-9493ad16d93e.html"/> <#-- 变革footer -->
</body>
</html>