<!DOCTYPE html>
<html lang="en">
<head>
		<@_includePlace path="/4a77f49d-45f6-40fb-b7f5-99946b6e2398.html"/> <#-- Header-link -->
	<@_includePlace path="/940fd251-b42a-4d62-a863-106b41db3b21.html"/> <#-- 变革Head -->

<@_includePlace path="/3f5dfe1e-f43a-44c2-a436-cbd1518cbc50.html"/> <#-- head-gis-link -->
</head>

<body>
  <@_includePlace path="/501dbfda-4c14-4841-8c70-cfb693c2f3b1.html"/> <#-- 变革header -->

<@_includePlace path="/aef97932-8337-4a93-95b2-6303c087289d.html"/> <#-- home-world-gis-div -->
	
	<@_includePlace path="/06ffd935-ce37-4fc3-8de9-6017b63422a2.html"/> <#-- 变革要闻 -->
	<@_includePlace path="/cd420983-f68a-46bb-83f6-e5e9208802d4.html"/> <#-- 变革进展 -->
<@_includePlace path="/d8181b47-dcd0-4a36-ac5b-91bdc6b84460.html"/> <#-- 变革summary -->

	<@_includePlace path="/95481b45-919b-413f-bbfb-9493ad16d93e.html"/> <#-- 变革footer -->
</body>
</html>