<div class="background-image-container">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-3">OnePetrology Repository</h1>
          <p class="lead">OnePetrology belong to the rock group of DDE science program, focusing on the research and construction of magmatic rock database.</p>
        </div>
      </div>
      <ul>
        <li>To identify, augment, and network globally distributed petrological and geochemical databases for rocks (magmatic rocks) to be accessed via the DDE as a sharing, service-oriented platform that supports access to in-depth mining and comprehensive analysis tools, with the goal to solve a number of major basic geological problems by using big data analysis.
        </li>
        <li>Elucidating the 3D architecture and evolution (4D) of deep-earth materials from regional, orogenic to global scales through analysis of the evolution of magmatic rocks;
        </li>
        <li>Providing evidence for deep-time plate reconstruction, continental assemblage processes, and paleogeographic reconstruction and revealing the growth and evolution of crust and mantle;
        </li>
		<li>Revealing the deep-earth dynamics and understanding mechanisms how the earth's deep engine works, including fluid and magma movement, material exchange from core to crust and the mechanisms of tectonic plate movement and supercontinent cyclicity.
		</li>
      </ul>
      <p>Join us please send mail to  <a href="mailto:onepetrology@126.com" target="_blank"> OnePetrology@126.com</a>.</p>
      <p>If you would like to learn more about us, please visit our site:</p>
      <ul>
        <li>petrology.deep-time.org</li>
        <li>download the desktop software to do professional job</li>
        <li>let us know your request for igneous rock database</li>
        <li>reqister your account use email please.</li>
      </ul>
    </div>
  </div>
  <picture class="background-image">
    <source type="image/webp" srcset="assets/dspace/images/banner.webp 2000w, assets/dspace/images/banner-half.webp 1200w, assets/dspace/images/banner-tall.webp 768w">
    <source type="image/jpg" srcset="assets/dspace/images/banner.jpg 2000w, assets/dspace/images/banner-half.jpg 1200w, assets/dspace/images/banner-tall.jpg 768w">
    <img alt="" [src]="'assets/dspace/images/banner.jpg'"/><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
  </picture>
  <small class="credits">Photo by <a href="https://www.pexels.com/@inspiredimages">@inspiredimages</a></small>
</div>
