<html>
<head>
<@_includePlace path="/63241365-51a7-4903-89e6-7619031fa9fe.html"/> <#-- Header-link -->
</head>
<body  class="menu-always-on-top">
	<@_includePlace path="/c8014652-e25e-4c4d-a3ca-9aad7fa0385c.html"/> <#-- header -->

    <main>
		  <div class="team-block content content-center margin-bottom-40" id="team">
			  <div class="container">
				  <div class="col-md-3">
					 <@_categoryList parentId=id>
						<#list page.list as a>
					       <div class="row">
							<a href="${a.url!}">${a.name}</a>
					  </div>
						</#list>
					</@_categoryList>
					  
					  
				  </div>
				  <div class="col-md-9">
					  
					  
					  
					  
					  
				  </div>
				  
				  
				<div>
			  
			  </div>
		
	</main>
    <footer>
       <@_includePlace path="/f95e232b-027b-40ae-9e2d-0a6385f7c418.html"/> <#-- footer -->
    </footer>
</body>
</html>