<!DOCTYPE html>
<html lang="en">
<head>
<@_includePlace path="/Header-link.html"/> <#-- head-link -->
	<@_includePlace path="/5b99dd64-5fb7-4162-9d00-b2d53e3d1708.html"/> <#-- head-gis-link -->
</head>
<body>
<@_includePlace path="/header.html"/> <#-- header -->
   <main>
	   <div class="container   " style="margin-top:10px; margin-left:50px;">
		   
		     <div class="row">
                <div class="col-md-12">
                    <!-- start location -->
                    <ul class="breadcrumb pull-left">
						 <li class="breadcrumb-prefix breadcrumb-item d-none d-md-block">You Are Here: </li>

                        <li class="breadcrumb-item"><a href="${site.dynamicPath!}">Home</a></li>
     
                        <li class="breadcrumb-item"><a href="${site.dynamicPath!}subject/bylocation.html">By Location</a></li>
                    </ul>
                    <!-- end location -->
                </div>
            </div>
			
		   
		<!-- end header -->
        <!--h1 id="title">Polygon Map</h1-->
		<div style="width:1624px;height: 668px; margin:20px;" id='map-container' >
     	</div>
		   <div class='row'>
				<div class="col-md  mapdetails"  style="margin-right:50px;" >
				TIPS：Click on the map below to define a search polygon. Click on each vertex of your polygon, double-clicking
				on the last vertex to close the shape. You can use the zoom bar to zoom in and out. Use shift-click to create a smooth polygon
				with many vertices.<br/>
				You can draw rectangle  or polygon on the map,then the point coordinate will appear in textarea in (lng,lat) paris state. The next  polygon will overwrite the pre selection. 
				</div>
   
		      
		<div class='col-md-4'  style="padding-top:5px;padding-bottom:5px;">
			<table>
				<tbody><tr>
					<td>
						<form name="mapform" id="mapform" action="/search/advance.html" method="post">
							<input type="hidden" name="_csrf" value="<@_csrfToken/>"/>
							<input name="returnUrl" type="hidden" value="${site.dynamicPath}search/queryResult.html?result=true" />
							<input type="hidden" name="pageIndex" value="1"/>
							<input type="hidden" name="pageSize" value="50"/>
							<input type="hidden" name="orderByField" value="id"/>
							<input type="hidden" name="orderByType" value="asc"/>
							
 						    <div class="form-group">
									<label for="queryGeojson">Selected Area ((lng,lat) pairs,comma seperated.): </label>	
								  <input type="button" class="submitbutton"    onclick="return doSubmit();"  value="Submit">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							     <button type="button" class="submitbutton"  onclick="clearpoly();">Clear</button>
									<textarea style="width: 600px;height: 90px;" id="queryGeojson"  name="queryGeojson" class="form-control" rows="5" name=textarea></textarea>
							</div>
						
						</form>
						
					</td>
					<td>
					
					</td>
				</tr>
			</tbody></table>
		</div>
	   </div>
	<script language="javascript" type="text/javascript"> 
		    		 function showpolygon(map){
					//首先读取session中的polygon
					   var ptlist=sessionStorage.getItem("extent");
					   //console.log(ptlist);
						if (ptlist==null || ptlist==""){
							console.log('没有选直接退出 ');
							 return map;   //没有选择，直接退出
						 }else{
							 // ptlist 是字符串，首先转换为js数组
							 pointlist=[];
							 latlngList=[];
							 var splitlist = ptlist.split('],[');
							 for (var  i=0;i<splitlist.length;i++){
								 var tempstr= splitlist[i].replace('[','').replace(']','');
								 //console.log(tempstr,"");
								 pstr = tempstr.split(',');
								 pointlist.push([parseFloat(pstr[0]),parseFloat(pstr[1])]);
								 latlngList.push([parseFloat(pstr[1]),parseFloat(pstr[0])]);
					           }
							//console.log(pointlist);

							// 加载geojson格式的polygon进行回显
							var  geojson={
											"type": "FeatureCollection",
											"features": [{
												"type": "Feature",
												"properties": {
													"adcode": 654301,
													"name": "用户选择区域",
													"center": [88.138743, 47.848911],
													"centroid": [87.917843, 47.884663],
													"childrenNum": 0,
													"level": "district",
													"parent": {
														"adcode": 654300
													},
													"subFeatureIndex": 0,
													"acroutes": [100000, 650000, 654300]
												},
												"geometry": {
													"type": "MultiPolygon",
													"coordinates": [
														[
															pointlist
														]
													]
												}
											}]
							 };
											//渲染样式
							var myStyle = {
													"color": "#00f",
													"weight": 3,
													"opacity": 0.8,
							  		};
						  // console.log(geojson);
							var layerGeo = L.geoJSON(geojson, {
									style:myStyle
								}).addTo(map);
								// 设置放缩范围和中心点
							var  bounds= L.latLngBounds(latlngList);  //此时经纬度是反着的，与geojson刚好反过来
							var centerpoint = bounds.getCenter();
							var center= L.latLng(centerpoint.lng,centerpoint.lat);   //geojson的经纬度表达方式和leaflet反着来的，需要调换一下
							//console.log("bounds:",bounds);
							map.fitBounds(bounds);
							layerGeo.setZIndex(99);  //确保在上面
							//map.setView(center,4);
							return ; 

					   } //else结束
					 } // 画多边形结束
		
					function doSubmit(){
						var ptlist=$("#queryGeojson").val();
						if (ptlist==null || ptlist==""){
							alert("choose the area first please.");
							return false;
						} 
						sessionStorage.setItem("polygon",ptlist);
						window.location.href="/subject/advance.html";
						return true;
					}
					
					
					function clearpoly(){
						$("#queryGeojson").val("");
						location.reload();
   				    }
					
					$(function() {
						var currentMap = createMap();//创建地图
						// var markers = new L.MarkerClusterGroup();
						addMapPlugs(currentMap); //加载插件
						currentMap.setView(L.latLng(34, 108), 4);
						showpolygon(currentMap);  //如果有内置区域则显示

					})
					//创建地图
					function createMap(){
						var newMap = L.map('map-container', {
								minZoom: 2,
								maxZoom: 13,
								crs: L.CRS.EPSG3857,
								fullscreenControl: {
									pseudoFullscreen: false
								},
								center: [0,0]
							});
		
						//换一种方式加载geoserver的图层
						var rocklayer = L.tileLayer('${site.dynamicPath!}geoserver/gwc/service/tms/1.0.0/dde%3Aworld2021@EPSG%3A3857@png/{z}/{x}/{-y}.png', {
							 minZoom: 2,
							maxZoom: 18,
							attribution: '&copy; <a href="https://petrology.deep-time.org">OnePetrology</a> contributors'
						 });
						newMap.addLayer(rocklayer);
						/*var pointslayer = L.tileLayer('${site.dynamicPath!}geoserver/gwc/service/tms/1.0.0/dde%3ASamplePoints@EPSG%3A3857@png/{z}/{x}/{-y}.png', {
							 minZoom: 2,
							maxZoom: 18,
							attribution: '&copy; <a href="https://petrology.deep-time.org">OnePetrology</a> contributors'
						 });
						newMap.addLayer(pointslayer);
						*/

						//添加工具栏
						L.control.scale({'position': 'bottomleft', 'metric': true, 'imperial': false}).addTo(newMap);
						//背景底图
						var opacity=0.8; //背景底图透明度
						//Esri 的世界影像
						var Esri_WorldImagery = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
							attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
						});
						Esri_WorldImagery.setOpacity(opacity);
						//Osm De的地图，包含中英文两种标注
						var OpenStreetMap_DE = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
							maxZoom: 18,
							attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
						 });
						//OpenStreetMap_DE.setOpacity(opacity);
						//微软bing map的影像
						//var BING_KEY = 'AvewBhQcQ8oh_dZ0rYIkYfHrrQdj87mT42i4plCmcqccDe0JXsWaOSNi4NuWvH0Z';
					   // var bingLayer = L.tileLayer.bing(BING_KEY);
					//	bingLayer.setOpacity(opacity);
						//高德影像
						//var imgm = L.tileLayer.chinaProvider('GaoDe.Satellite.Map', {
						//	maxZoom: 18,
						//	minZoom: 3
						//});
						//var imga = L.tileLayer.chinaProvider('GaoDe.Satellite.Annotion', {
						//	maxZoom: 18,
					//		minZoom: 3
					//	});
					  //  gaodeLayer = L.layerGroup([imgm, imga]);
						//gaodeLayer.setOpacity(opacity);
						//高德地图
						var normalGaoDe = L.tileLayer.chinaProvider('GaoDe.Normal.Map', {
							maxZoom: 18,
							minZoom: 2
						});

						//天地图
						var normalm = L.tileLayer.chinaProvider('TianDiTu.Normal.Map', {
							key:'3359c151db487347bd379173613694a3',
							maxZoom: 18,
							minZoom: 2
						}),
						normala = L.tileLayer.chinaProvider('TianDiTu.Normal.Annotion', {
							key:'3359c151db487347bd379173613694a3',
							maxZoom: 18,
							minZoom: 2
						}),
						imgm = L.tileLayer.chinaProvider('TianDiTu.Satellite.Map', {
							key:'3359c151db487347bd379173613694a3',
							maxZoom: 18,
							minZoom: 2
						}),
						imga = L.tileLayer.chinaProvider('TianDiTu.Satellite.Annotion', {
							key:'3359c151db487347bd379173613694a3',
							maxZoom: 18,
							minZoom: 2
						});

						var tianditunormal = L.layerGroup([normalm, normala]),
							tiandituimage = L.layerGroup([imgm, imga]);

						// 自己的底图
							var ourbaselayer = L.tileLayer('${site.dynamicPath!}geoserver/gwc/service/tms/1.0.0/dde%3Aworld2022@EPSG%3A3857@png/{z}/{x}/{-y}.png', {
							 minZoom: 2,
							maxZoom: 18,
							attribution: '&copy; <a href="https://petrology.deep-time.org">OnePetrology</a> contributors'
						 });

						//组合所有的背景图以供选择
							var baselayer={"Magmatic rocks": ourbaselayer,"ESRI":Esri_WorldImagery,"OSM":OpenStreetMap_DE,"TianDiTu":normalm,"TianDiTu Satelite":imgm,"GaoDe":normalGaoDe};
						 L.control.layers(baselayer, null).addTo(newMap);
						  newMap.addLayer(tianditunormal); //默认添加天地图

						rocklayer.setZIndex(9);  //确保岩浆岩图在上面
						//pointslayer.setZIndex(10);//确保样品点在最上面 
						return newMap;
					}

					//加载插件
					function addMapPlugs(map){
						if(!map){
							return ;
						}
						//标记插件--geoman
						map.pm.addControls({
							position: 'topleft',
							drawCircle: false,
							drawMarker:false,
							drawPolyline:false,
							editMode:false,
							dragMode:false,
							cutPolygon:false,
							removalMode:false,
							drawCircleMarker:false,
						});
					//绘制完成事件
					   map.on('pm:create', e => {
						let shape = e.shape;
						//多边形
						if ('Polygon' === shape || 'Rectangle' === shape ||  'Circle' === shape) {
						  // 处理绘制完成的逻辑
							console.log(e);//得到所绘的图形
							shapes = e.layer.toGeoJSON();
							pointstr="";
							var ptlist=shapes.geometry.coordinates[0];
							str=ptlist.join("],[");
							str="["+str+"]";
							console.log(str);
							$("#queryGeojson").val(str);
							console.log(shapes.geometry.type);//得到所绘的图形
						   console.log(shapes.geometry.coordinates[0]);//得到所绘的图形
						}
					  });
					}
				</script>
			<!-- start footer -->
		</div>
   </main>
	
	
<@_includePlace path="/53d9aa26-ab9a-41df-90d5-efc5307c3b3e.html"/> <#-- footer -->
    <script src="${site.dynamicPath}resource/js/cms.analytics.js"></script>
    <script>
        var ca = cmsAnalytics();
        var url='${site.dynamicPath}api/visit/record';
        if("string" ==typeof itemString){
            url=url+"?"+itemString;
        }
        ca.report(url);
    </script>
</body>
</html>