<!DOCTYPE html>
<html lang="zh-CN">
<head>
<@_includePlace path="/63241365-51a7-4903-89e6-7619031fa9fe.html"/> <#-- Header-link -->
</head>
<body class="menu-always-on-top">
<@_includePlace path="/c8014652-e25e-4c4d-a3ca-9aad7fa0385c.html"/> <#-- header -->
<main>
	<div class="container clearfix-after row" style="margin:100px">
			 <div class="col-md-3">
<@_includePlace path="/5b27cde5-351b-4d05-8fd0-fae82c896b70.html"/> <#-- 个人中心 -->
				 </div>
		<div class="right-content  col-md-9">
			<div class="box">
				<h3>修改密码</h3>
				
				<form action="${site.dynamicPath}user/changePassword" method="post" class="text-center">
					<input type="hidden" name="_csrf" value="<@_csrfToken/>"/>
					<p><label class="input-label">旧密码</label><input type="password" class="input-text" name="oldpassword" placeholder="旧密码" title="旧密码" /></p>
					<p><label class="input-label">新密码</label><input type="password" class="input-text" name="password" placeholder="新密码" title="新密码" /></p>
					<p><label class="input-label">重复密码</label><input type="password" class="input-text" name="repassword" placeholder="确认密码" title="确认密码" /></p>
					<p  class="text-center">
						<input type="submit" class="button" value="修 改"/>
					</p>
					<@import path="/ftl/tools.ftl" namespace="t"/>
					<#if error??>
						<p class="message red"><@t.m error/></p>
					</#if>
					<#if message??>
						<p class="message"><@t.m "message."+message/></p>
						<#if 'needReLogin'=message>
							<form name="logout" action="${site.dynamicPath}doLogout" method="post">
								<input type="hidden" name="userId" value="${(user.id)!}"/>
								<input type="hidden" name="returnUrl" value="${returnUrl!site.sitePath!}"/>
							</form>
							<script>setTimeout("$('form[name]').submit();",1000);</script>
						</#if>
					</#if>
				</form>
				
			</div>
		</div>
	</div>	
</main>
<@_includePlace path="/f95e232b-027b-40ae-9e2d-0a6385f7c418.html"/> <#-- footer -->
</body>
</html>