<!DOCTYPE html>
<html lang="zh-CN">
<head>
<@_includePlace path="/63241365-51a7-4903-89e6-7619031fa9fe.html"/> <#-- Header-link -->
</head>
<body class="menu-always-on-top">
<@_includePlace path="/c8014652-e25e-4c4d-a3ca-9aad7fa0385c.html"/> <#-- header -->
<main>
	<div class="container clearfix-after row" style="margin:100px">
			 <div class="col-md-3">
<@_includePlace path="/5b27cde5-351b-4d05-8fd0-fae82c896b70.html"/> <#-- 个人中心 -->
				 </div>
		<div class="right-content  col-md-9">
			<div class="box">
				<@import path="/ftl/tools.ftl" namespace="t"/><#-- 工具 -->
				<div class="comment-box">
					<h3>我的投票</h3>
					<@_userVoteList userId=user.id pageIndex=pageIndex pageSize=10>
					<ul>
						<#list page.list as a>
							<@t.merge 'voteIds' a.id.voteId!/>
							<@t.merge 'itemIds' a.itemId!/>
						</#list>
						<@_vote ids=t.voteIds! ><#assign voteMap=map!/></@_vote>
						<@_voteItem ids=t.itemIds! ><#assign voteItemMap=map!/></@_voteItem>
						<#list page.list as a>
							<li class="underline">
								<p>${a.createDate?date} 参与了投票《<a href="${site.dynamicPath}vote.html?id=${a.id.voteId}" target="_blank">${voteMap[a.id.voteId?string].title}</a>》</p>
								<p><label>投给了:</label>《${voteItemMap[a.itemId?string].title}》</p>
							</li>
						<#else>
						<li class="underline"><p>没有数据</p></li>
						</#list>
					</ul>
					<div class="page">
						<#assign
						start=1
						end=page.totalPage
						/>
						<#if (page.pageIndex-5) gt start>
						<#assign start=page.pageIndex-4/>
						</#if>
						<#if (page.pageIndex+5) lt end>
						<#assign end=page.pageIndex+4/>
						</#if>
						<#if !page.firstPage>
						<a href="${getPage('myVote.html',page.prePage,'pageIndex')}">上一页</a>
						<#else>
						<span>上一页</span>
						</#if>
						<#if start gt 1>
						<a href="${'myVote.html'}">1</a> ...
						</#if>
						<#list start..end as n>
						<a href="${getPage('myVote.html',n,'pageIndex')}"${(n=page.pageIndex)?then(' class="selected"'?no_esc,'')}>${n}</a>
						</#list>
						<#if end lt page.totalPage>
						... <a href="${getPage('myVote.html',page.totalPage,'pageIndex')}">${page.totalPage}</a>
						</#if>
						<#if !page.lastPage>
						<a href="${getPage('myVote.html',page.nextPage,'pageIndex')}">下一页</a>
						<#else>
						<span>下一页</span>
						</#if>
					</div>
					</@_userVoteList>
				</div>				
			</div>
		</div>
	</div>
</main>
<@_includePlace path="/f95e232b-027b-40ae-9e2d-0a6385f7c418.html"/> <#-- footer -->
</body>
</html>