<html>
<head>
	<meta charset="utf-8">
<title>DDE-OnePetrology</title>
<link rel="stylesheet" href="${site.sitePath}leaflet/leaflet.css" />
    <link rel="stylesheet" href="${site.sitePath}leaflet/leaflet-geoman.css" />
    <link rel="stylesheet" href="${site.sitePath}leaflet/Leaflet.PolylineMeasure.css" />
    <link rel="stylesheet" href="${site.sitePath}leaflet/leaflet-search.src.css" />
    <link rel="stylesheet" href="${site.sitePath}leaflet/leaflet.awesome-markers.css">
    <link href="${site.sitePath}font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="${site.sitePath}font-awesome/css/font-awesome-ie7.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="${site.sitePath}leaflet/Leaflet.fullscreen.css">
    <script src="${site.sitePath}leaflet/leaflet.js"></script>
    <script src="${site.sitePath}leaflet/Leaflet.fullscreen.js"></script>
    <script src="${site.sitePath}leaflet/leaflet-tilelayer-wmts-src.js"></script>
    <script src="${site.sitePath}leaflet/leaflet-geoman.min.js"></script>
    <script src="${site.sitePath}leaflet/Leaflet.PolylineMeasure.js"></script>
    <script src="${site.sitePath}leaflet/leaflet-search.src.js"></script>
    <script src="${site.sitePath}leaflet/leaflet.awesome-markers.js"></script>
    <script src="${site.sitePath}leaflet/leaflet-ant-path.js"></script>
	   <link rel="stylesheet" href="${site.sitePath}leaflet/pruneCluster.css">
	<script src="${site.sitePath}leaflet/PruneCluster.js"></script>
    <script src="${site.sitePath}js/jquery-1.12.4.min.js"></script>

	<script src="${site.sitePath}leaflet/leaflet-providers.js"></script>
    <script src="${site.sitePath}leaflet/leaflet-bing-layer.js"></script>
	<script src="${site.sitePath}leaflet/leaflet.ChineseTmsProviders.js"></script>
</head>
<body>
    <@_sampleList   >
<div style="width:100%;height: 50%;" id='map-container' >
</div>
<div style="width:100%;height: 50%;" id='condition' >
		<form  method="post" action="/sampleInfo/query"  >
			  <div class="form-group">
					<label for="queryGeojson">Selected Area (Geojson):</label>
					<textarea  id="queryGeojson"  name="queryGeojson" class="form-control" rows="5" name=textarea></textarea>
			  </div>
			  <button type="submit" class="btn btn-default">Submit</button>
		</form>
		
</div>
	
<style>
    .mycluster {
        width: 40px;
        max-width: 220px;
        height: 40px;
        background-color: greenyellow;
        text-align: center;
        font-size: 20px;
    }

</style>
<script>
    $(function() {
        var currentMap = createMap();//创建地图
        // var markers = new L.MarkerClusterGroup();
        addMapPlugs(currentMap); //加载插件
        showPointInfo(currentMap);//显示当前点坐标信息
        //showAntPath(currentMap);
      // addMyResource(currentMap,markers);// 加载资源点
		currentMap.setView(L.latLng(34, 108), 4);
		addAllData(currentMap); //把所有的点加上
		
    })
    //加载数据
	function addAllData(map){
		  var leafletView = new PruneClusterForLeaflet();

	<#list page as a>
		<#if a.longitude  != 0  && a.latitude!=0>
		 <#setting number_format=",##0.########">
		marker=new PruneCluster.Marker(${a.latitude},${ a.longitude}, {title:"${ a.oraginalSampleId?replace('\r\n','')!}"});
		leafletView.RegisterMarker(marker);
		</#if>
     </#list>
   
    leafletView.PrepareLeafletMarker = function (marker, data) {
		str=data.title;
		var idindex=str.indexOf(':');
		var strid="";
		if(idindex>0){
			strid=str.substring(0,str.indexOf(':'));
		}else{
			strid=str.trim();
		}
		var strlink=str+'<br/><a href="/sampleinfo/add.html?id='+strid+'">edit</a>';
        if (marker.getPopup()) {
	        marker.setPopupContent(strlink);
        } else {
            marker.bindPopup(strlink);
        }
    };

    map.addLayer(leafletView);
		
   }
	
    //创建地图
    function createMap(){
        var newMap = L.map('map-container', {
            minZoom: 0,
            maxZoom: 13,
            crs: L.CRS.EPSG3857,
            fullscreenControl: {
                pseudoFullscreen: false
            },
            center: [32,108]
        });
        var url = 'http://39.107.96.248:8080/geoserver/gwc/service/wmts';
        var matrixIds = [];
        for (var i = 0; i < 22; ++i) {
            matrixIds[i] = {
                identifier: i,
                topLeftCorner: new L.LatLng(90, -180)
            };
        }
		 var matrixIds3857 = new Array(16);
        for (var i= 0; i<16; i++) {
            matrixIds3857[i]= {
                identifier    : "" + i,
                topLeftCorner : new L.LatLng(20037508.3428,-20037508.3428)
            };
        }
     
        var ign = new L.TileLayer.WMTS(url, {
				minZoom:4,
			maxZoom:15,
            layer: 'dde:petrology2020',
            styles: 'default',
           tilematrixset: "EPSG:3857",
            format: 'image/png',
            matrixIds: matrixIds3857,
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        });
        newMap.addLayer(ign);
        L.control.scale({'position': 'bottomleft', 'metric': true, 'imperial': false}).addTo(newMap);
		//背景底图
		var opacity=0.8; //背景底图透明度
		//Esri 的世界影像
		var Esri_WorldImagery = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
			attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
		});
		Esri_WorldImagery.setOpacity(opacity);
		//Osm De的地图，包含中英文两种标注
	    var OpenStreetMap_DE = L.tileLayer('https://{s}.tile.openstreetmap.de/tiles/osmde/{z}/{x}/{y}.png', {
			maxZoom: 18,
			attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
		 });
		//OpenStreetMap_DE.setOpacity(opacity);
		//微软bing map的影像
		var BING_KEY = 'AvewBhQcQ8oh_dZ0rYIkYfHrrQdj87mT42i4plCmcqccDe0JXsWaOSNi4NuWvH0Z';
        var bingLayer = L.tileLayer.bing(BING_KEY);
		bingLayer.setOpacity(opacity);
		//高德影像
		var imgm = L.tileLayer.chinaProvider('GaoDe.Satellite.Map', {
			maxZoom: 18,
			minZoom: 3
		});
		var imga = L.tileLayer.chinaProvider('GaoDe.Satellite.Annotion', {
			maxZoom: 18,
			minZoom: 3
		});
        gaodeLayer = L.layerGroup([imgm, imga]);
		//gaodeLayer.setOpacity(opacity);
		//组合所有的背景图以供选择
			var baselayer={"ESRI":Esri_WorldImagery,"OSM":OpenStreetMap_DE,"BING":bingLayer,"高德":gaodeLayer};
		 L.control.layers(baselayer, null).addTo(newMap);
		  newMap.addLayer(bingLayer); //默认添加Bing Map
		
		ign.setZIndex(9);  //确保岩浆岩图在上面
        return newMap;
    }
    // 加载资源点
    function addMyResource(map,markers){
        //先过去分类再按照分类加载
        $.ajax({
            type: 'POST',
            url: 'getMapSiteResource.do?_csrf=<@_csrfToken admin=true/>',
            dataType: 'json',
            cache: false,
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    markers =  addMyResourcePoint(map,markers,data[i],i)
                }
                map.addLayer(markers);
            },
            error: function (data){
                alert("获取配置数据异常");
            }
        });
    }
   
    //加载插件
    function addMapPlugs(map){
        if(!map){
            return ;
        }
        //标记插件--geoman
        map.pm.addControls({
            position: 'topleft',
            drawCircle: true,
        });
	//绘制完成事件
       map.on('pm:create', e => {
        let shape = e.shape;
        //多边形
        if ('Polygon' === shape || 'Rectangle' === shape ||  'Circle' === shape) {
          // 处理绘制完成的逻辑
			console.log(e);//得到所绘的图形
			shapes = e.layer.toGeoJSON();
			$("#queryGeojson").val(JSON.stringify(shapes.geometry));
			console.log(shapes.geometry.type);//得到所绘的图形
		   console.log(shapes.geometry.coordinates);//得到所绘的图形
        }
      });


		
        //测距插件
        options = {
            position: 'topleft',            // Position to show the control. Values: 'topright', 'topleft', 'bottomright', 'bottomleft'
            unit: 'metres',                 // Show imperial or metric distances. Values: 'metres', 'landmiles', 'nauticalmiles'
            clearMeasurementsOnStop: true,  // Clear all the measurements when the control is unselected
            showBearings: false,            // Whether bearings are displayed within the tooltips
            bearingTextIn: 'In',           // language dependend label for inbound bearings
            bearingTextOut: 'Out',          // language dependend label for outbound bearings
            tooltipTextFinish: '点击<b>测距点结束测距</b><br>',
            tooltipTextDelete: '按住shift键同时点击测距点 <b>删除测距点</b>',
            tooltipTextMove: '当手形图标时可以 <b>移动测距点</b><br>',
            tooltipTextResume: '<br>Press CTRL-key and click to <b>resume line</b>',
            tooltipTextAdd: '按测距线上按住ctrl键 &nbsp;<b>增加测距点</b>',
            // language dependend labels for point's tooltips
            measureControlTitleOn: '打开多段线测量',   // Title for the control going to be switched on
            measureControlTitleOff: '关闭多段线测量', // Title for the control going to be switched off
            measureControlLabel: '&#8614;', // Label of the Measure control (maybe a unicode symbol)
            measureControlClasses: [],      // Classes to apply to the Measure control
            showClearControl: false,        // Show a control to clear all the measurements
            clearControlTitle: 'Clear Measurements', // Title text to show on the clear measurements control button
            clearControlLabel: '&times',    // Label of the Clear control (maybe a unicode symbol)
            clearControlClasses: [],        // Classes to apply to clear control button
            showUnitControl: false,         // Show a control to change the units of measurements
            distanceShowSameUnit: false,    // Keep same unit in tooltips in case of distance less then 1 km/mi/nm
            unitControlTitle: {             // Title texts to show on the Unit Control button
                text: 'Change Units',
                metres: 'metres',
                landmiles: 'land miles',
                nauticalmiles: 'nautical miles'
            },
            unitControlLabel: {             // Unit symbols to show in the Unit Control button and measurement labels
                metres: 'm',
                kilometres: 'km',
                feet: 'ft',
                landmiles: 'mi',
                nauticalmiles: 'nm'
            },
            tempLine: {                     // Styling settings for the temporary dashed line
                color: '#00f',              // Dashed line color
                weight: 2                   // Dashed line weight
            },
            fixedLine: {                    // Styling for the solid line
                color: '#006',              // Solid line color
                weight: 2                   // Solid line weight
            },
            startCircle: {                  // Style settings for circle marker indicating the starting point of the polyline
                color: '#000',              // Color of the border of the circle
                weight: 1,                  // Weight of the circle
                fillColor: '#0f0',          // Fill color of the circle
                fillOpacity: 1,             // Fill opacity of the circle
                radius: 3                   // Radius of the circle
            },
            intermedCircle: {               // Style settings for all circle markers between startCircle and endCircle
                color: '#000',              // Color of the border of the circle
                weight: 1,                  // Weight of the circle
                fillColor: '#ff0',          // Fill color of the circle
                fillOpacity: 1,             // Fill opacity of the circle
                radius: 3                   // Radius of the circle
            },
            currentCircle: {                // Style settings for circle marker indicating the latest point of the polyline during drawing a line
                color: '#000',              // Color of the border of the circle
                weight: 1,                  // Weight of the circle
                fillColor: '#f0f',          // Fill color of the circle
                fillOpacity: 1,             // Fill opacity of the circle
                radius: 3                   // Radius of the circle
            },
            endCircle: {                    // Style settings for circle marker indicating the last point of the polyline
                color: '#000',              // Color of the border of the circle
                weight: 1,                  // Weight of the circle
                fillColor: '#f00',          // Fill color of the circle
                fillOpacity: 1,             // Fill opacity of the circle
                radius: 3                   // Radius of the circle
            },
        };
        L.control.polylineMeasure(options).addTo(map);


        //搜索
        L.control.search({
            url: 'search.do?q={s}&_csrf=<@_csrfToken admin=true/>',
            textPlaceholder: '按Enter搜索...',
            position: 'topright',
            hideMarkerOnCollapse: true,
            marker: {
                icon: new L.Icon({iconUrl:'${site.sitePath}leaflet/images/custom-icon.png', iconSize: [40,40]}),
                circle: {
                    radius: 20,
                    color: '#0a0',
                    opacity: 1
                }
            }

        }).addTo(map);
    }
    //点击展示经纬度
    function showPointInfo(map){
        var mypop = L.popup();
        map.on('click', function(e) {
            var content = '当前坐标：<br>';
            content += e.latlng.lng+"，"+e.latlng.lat;
            mypop.setLatLng(e.latlng)
                .setContent(content)
                .openOn(map);
        });
    }

    function showAntPath(map){
        let arrs = [
            [31.30, 120.58],  // 苏州市
            [31.32, 120.63],   // 平江区
            [31.30, 120.63],   // 沧浪区
            [31.95789128, 120.64626101],
            [31.30, 120.75]  // 虎丘区
        ];
        //---------------------leaflet-antvPath--------------------------
        var antPath = L.polyline.antPath;
        var path = antPath(arrs, {
            "paused": false,   　　//暂停  初始化状态
            "reverse": false,　　//方向反转
            "delay": 1000,　　　　//延迟，数值越大效果越缓慢
            "dashArray": [10, 20],　//间隔样式
            "weight": 5,　　　　//线宽
            "opacity": 0.5,　　//透明度
            "color": "#0000FF",　//颜色
            "pulseColor": "#FFFFFF"　　//块颜色
        });
        path.addTo(map);
//---------------------leaflet-antvPath--------------------------
    }
</script>
</@_sampleList>
    </body>
</html>