<header>
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-4 logo-column " style="color:white;font-size:16px">
                    <a href="#" class="logo">
                        <img src="${site.sitePath}bgxjs/bootstrap/img/dzs-logo.png" alt="logo">
                    </a>
					中国花岗岩与关键金属矿床编图
                </div>
                <div class="col-6 col-sm-8 nav-column clearfix">
                    <div class="right-nav">
                        <div class="header-social">
                            <!--
                                <span class="badge badge-pill badge-danger"><a href="/prjmng/login/" class="login">登录</a></span>
                             -->
                            
                        </div>
                    </div>
                    <nav id="menu" class="d-none d-lg-block">
                        <ul>
                            <li class="current-menu-item"><a href="${site.dynamicPath!}metal/index.html">首页</a>
                            </li>
                            <li><a href="${site.dynamicPath!}metal/introduce.html">项目介绍</a></li>
                            <li><a href="${site.dynamicPath!}metal/publication.html">出版物</a></li>
                            <li><a href="${site.dynamicPath!}metal/search.html">数据共享</a></li>
                            <li><a href="${site.dynamicPath!}metal/expert.html">专家介绍</a></li>
							<li><a href="http://124.127.53.55:8086/dtale/">数据可视化</a></li>
                            <li><a href="${site.dynamicPath!}metal/about.html">关于我们</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>