 <!-- Choose us block BEGIN -->
    <div class="choose-us-block content text-center margin-bottom-40" id="benefits">
        <div class="container">
            <h2>Data <strong>Summary</strong></h2>
            <h4>Refer to DDE rock database construction specification, <a href="javascript:void(0);">Construction of magmatic rock database</a> ，Collection through excel template，<br>Provide data verification tools，The warehousing can be completed only after audit, and the double insurance ensures the data quality.<br>Currently, there are <strong> 73,860</strong>  records of sample age and geochemical data，<strong>158,605 </strong>  records of in situ U-Pb point dating data，<strong>29,204 </strong>  records of zircon Hf-O isotopic data, for igneous rocks .</h4>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 text-left">
                    <img src="${site.sitePath}assets/onepage/img/choose-us.png" alt="Why to choose us" class="img-responsive">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 text-left">
                    <div class="panel-group" id="accordion1">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_1">Database construction specification</a>
                                </h5>
                            </div>
                            <div id="accordion1_1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>Prepared by Wang Yanggang team of development research center of China Geological Survey.</p>
                                    <p> <a href="${site.sitePath}全球岩石数据库建设技术标准（初稿H）.pdf"> Download Url：specification.pdf </a></p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_2">Excel Data Template</a>
                                </h5>
                            </div>
                            <div id="accordion1_2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>The magmatic rock database team of the Institute of geology shall sort out the data according to the data specification and provide specific data <a href="${site.sitePath}岩石数据库-新模板20210509.xlsx">import Excel Data Template.</a></p>
                                    <p>Please delete as required, but the format cannot be changed, otherwise it will lead to difficulties in warehousing.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_3">Table extraction tool</a>
                                </h5>
                            </div>
                            <div id="accordion1_3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Table data is extracted from documents such as PDF and optimized to support CAK, KDH and PDF (text format) table batch extraction. According to the extracted data results, the magmatic rock database is optimized.</p>
                                    <p>The tool is also suitable for table data extraction in other disciplines.<a href="http://igeodata.org/handle/20.500.11758/426" >Download Url：Pdf Table Extractor</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_4">Data Audit</a>
                                </h5>
                            </div>
                            <div id="accordion1_4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Log in to the background system to import data, review the data, and delete or modify the data that does not meet the requirements.</p>
                                    <p>Audit is the second threshold to ensure data quality. Batch audit comparison can be performed.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_5">Data export usage</a>
                                </h5>
                            </div>
                            <div id="accordion1_5" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>According to the amount of data provided, you can obtain and export the rights and interests of the corresponding amount of data.</p>
                                    <p>The exported data shall follow the unified data usage rules of DDE.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_6">Digital mapping</a>
                                </h5>
                            </div>
                            <div id="accordion1_6" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>After the data is verified layer by layer, it enters the intelligent mapping link.</p>
                                    <p>WMS / WFS / WMTs and other services will be opened in succession for ease of use.</p>
                                </div>
                            </div>
                        </div>
						<div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_7">Desktop Software</a>
                                </h5>
                            </div>
                            <div id="accordion1_7" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Knowledge system construction, data processing, data query and export are carried out through desktop software.</p>
                                    <p>The desktop software is run on win10，16G Ram and i7 CPU above .<a href="http://8.218.13.217:8080/server/api/core/bitstreams/333dcb28-2743-4d15-bd27-2bc8d7612795/content"> Download: DDE-OnePetrology </a> and <a href="http://8.218.13.217:8080/server/api/core/bitstreams/1687b324-837b-4880-b2a2-082ca049f920/content"> User manual </a></p>
                                </div>
                            </div>
                        </div>
						
						
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Choose us block END -->