   <!-- Header BEGIN -->
    <div class="header header-mobi-ext">
        <div class="container">
            <div class="row">
                <!-- Logo BEGIN -->
				<div class="col-md-2 col-s32">
                    <a class="scroll site-logo" href="https://www.deep-time.org/"  style="padding-top: 3px;"><img src="${site.sitePath}ddelogo.png" style="width:160px;height=60px;" /></a>
                </div>
                <div class="col-md-2 col-s32">
                    <a class="scroll site-logo" href="${site.dynamicPath}"  style="padding-top: 3px;"><img src="${site.sitePath}logo.png" style="margin-top: 10px;width:160px;height=60px;" /></a>
                </div>
                <!-- Logo END -->
                <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>
                <!-- Navigation BEGIN -->
                <div class="col-md-8 pull-right">
                    <ul class="header-navigation">
						<li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About<span class="caret"></span></a>
							 <ul class="dropdown-menu">
							<li style="margin-left:5px;"><a href="${site.dynamicPath!}about/introduction.html">Introduction</a></li>
							<li style="margin-left:5px;"><a href="${site.dynamicPath!}about/objective.html">Objective</a></li>
							<li style="margin-left:5px;"><a href="${site.dynamicPath!}about/team.html">Team</a></li>
							<li style="margin-left:5px;"><a href="${site.dynamicPath!}about/contact.html">Contact Us</a></li>
						  </ul>
						</li>
						<li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Submit Data<span class="caret"></span></a>
							 <ul class="dropdown-menu">
							<li style="margin-left:5px;"><a href="${site.dynamicPath!}category/list.html?categoryId=131">View Submissions</a></li>
							<li style="margin-left:5px;"><a href="${site.dynamicPath!}admin/#content_cmsContent/list">Submit New Data</a></li>
							<li style="margin-left:5px;"><a href="${site.dynamicPath!}admin/#sampleInfo/list-age.html">Correct Data</a></li>
							<li style="margin-left:5px;"><a href="#">Data Template</a></li>
						  </ul>
						</li>
						<li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Access Data<span class="caret"></span></a>
							 <ul class="dropdown-menu">
							<li style="margin-left:5px;"><a href="${site.dynamicPath!}search/search.html">Search Data ...</a></li>
								 <li style="margin-left:5px;"><a href="${site.dynamicPath!}theme/home.html">Thematic database...</a></li>
							<li style="margin-left:5px;"><a href="${site.dynamicPath!}admin/">Administrator</a></li>
						  </ul>
						</li>
						<li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Map<span class="caret"></span></a>
							 <ul class="dropdown-menu">
							<li style="margin-left:5px;"><a href="${site.dynamicPath!}gis/viewmap3857.html">2020 Asia Map & Data(3857)</a></li>
							<li style="margin-left:5px;"><a href="${site.dynamicPath!}gis/viewdata4326.html">2020 Asia Map & Data(4326)</a></li>
							<li style="margin-left:5px;"><a href="${site.dynamicPath!}gis/3857map.html">2020 Asia Map (3857)</a></li>	 
							<li style="margin-left:5px;"><a href="${site.dynamicPath!}gis/world2021.html">2021 World Map (3857)</a></li>	 
						  </ul>
						</li>
					
	                   </ul>
                </div>
                <!-- Navigation END -->
            </div>
        </div>
    </div>
    <!-- Header END -->