 <!-- Choose us block BEGIN -->
    <div class="choose-us-block content text-center margin-bottom-40" id="benefits">
        <div class="container">
            <h2>数据共享 <strong>Summary</strong></h2>
            <h4>项目研究过程中产生、收集、加工的数据，以及采用采用的数据建库规范和工具软件等。</h4>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 text-left">
                    <img <img src="${site.sitePath}bgxjs/bootstrap/img/fag-img.png" alt="Why to choose us" class="img-responsive">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 text-left">
                    <div class="panel-group" id="accordion1">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_1">数据库建设规范</a>
                                </h5>
                            </div>
                            <div id="accordion1_1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>该规范由发展中心王阳刚等起草.</p>
                                    <p> <a href="${site.sitePath}全球岩石数据库建设技术标准（初稿H）.pdf"> Download Url：specification.pdf </a></p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_2">Excel 格式数据模板</a>
                                </h5>
                            </div>
                            <div id="accordion1_2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>The magmatic rock database team of the Institute of geology shall sort out the data according to the data specification and provide specific data <a href="${site.sitePath}岩石数据库-新模板20210509.xlsx">import Excel Data Template.</a></p>
                                    <p>Please delete as required, but the format cannot be changed, otherwise it will lead to difficulties in warehousing.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_3">PDF表格数据自动抽取工具l</a>
                                </h5>
                            </div>
                            <div id="accordion1_3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Table data is extracted from documents such as PDF and optimized to support CAK, KDH and PDF (text format) table batch extraction. According to the extracted data results, the magmatic rock database is optimized.</p>
                                    <p>The tool is also suitable for table data extraction in other disciplines.<a href="http://igeodata.org/handle/20.500.11758/426" >Download Url：Pdf Table Extractor</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_4">数据审计</a>
                                </h5>
                            </div>
                            <div id="accordion1_4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Log in to the background system to import data, review the data, and delete or modify the data that does not meet the requirements.</p>
                                    <p>Audit is the second threshold to ensure data quality. Batch audit comparison can be performed.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_5">数据导出利用</a>
                                </h5>
                            </div>
                            <div id="accordion1_5" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>According to the amount of data provided, you can obtain and export the rights and interests of the corresponding amount of data.</p>
                                    <p>The exported data shall follow the unified data usage rules of DDE.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_6">数据智能编图</a>
                                </h5>
                            </div>
                            <div id="accordion1_6" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>After the data is verified layer by layer, it enters the intelligent mapping link.</p>
                                    <p>WMS / WFS / WMTs and other services will be opened in succession for ease of use.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Choose us block END -->