    <!-- Portfolio block BEGIN -->
    <div class="portfolio-block content content-center" id="portfolio">
        <div class="container">
            <h2 class="margin-bottom-50">Published <strong>Geological Map</strong></h2>
        </div>
        <div class="row">
            <div class="item col-md-2 col-sm-6 col-xs-12">
                <img src="${site.sitePath}assets/onepage/img/portfolio/6.jpg" alt="NAME" class="img-responsive">
                <a href="${site.sitePath}assets/onepage/img/portfolio/6.jpg" class="zoom valign-center">
                    <div class="valign-center-elem">
                        <strong>国际亚洲地质图</strong>
                        <em>任纪舜院士团队</em>
                        <b>查看</b>
                    </div>
                </a>
            </div>
            <div class="item col-md-2 col-sm-6 col-xs-12">
                <img src="${site.sitePath}assets/onepage/img/portfolio/7.jpg" alt="NAME" class="img-responsive">
                    <a href="${site.sitePath}assets/onepage/img/portfolio/7.jpg" class="zoom valign-center">
                    <div class="valign-center-elem">
                        <strong>月球地质图</strong>
                        <em>地质所</em>
                        <b>查看</b>
                    </div>
                </a>
            </div>
            <div class="item col-md-2 col-sm-6 col-xs-12">
                <img src="${site.sitePath}assets/onepage/img/portfolio/8.jpg" alt="NAME" class="img-responsive">
                    <a href="${site.sitePath}assets/onepage/img/portfolio/8.jpg" class="zoom valign-center">
                    <div class="valign-center-elem">
                        <strong>北中东部亚洲及邻区大地构造图</strong>
                        <em>李廷栋院士团队</em>
                        <b>查看</b>
                    </div>
                </a>
            </div>
            <div class="item col-md-2 col-sm-6 col-xs-12">
                <img src="${site.sitePath}assets/onepage/img/portfolio/3.jpg" alt="NAME" class="img-responsive">
                <a href="${site.sitePath}assets/onepage/img/portfolio/3.jpg" class="zoom valign-center">
                    <div class="valign-center-elem">
                        <strong>中国西部及邻区地质图</strong>
                        <em>李廷栋院士团队</em>
                        <b>查看</b>
                    </div>
                </a>
            </div>
            <div class="item col-md-2 col-sm-6 col-xs-12">
                <img src="${site.sitePath}assets/onepage/img/portfolio/5.jpg" alt="NAME" class="img-responsive">
                <a href="${site.sitePath}assets/onepage/img/portfolio/5.jpg" class="zoom valign-center">
                    <div class="valign-center-elem">
                        <strong>1975年500万中国地质图</strong>
                        <em>地质所</em>
                        <b>查看</b>
                    </div>
                </a>
            </div>
            <div class="item col-md-2 col-sm-6 col-xs-12">
                <img src="${site.sitePath}assets/onepage/img/portfolio/4.jpg" alt="NAME" class="img-responsive">
                <a href="${site.sitePath}assets/onepage/img/portfolio/4.jpg" class="zoom valign-center">
                    <div class="valign-center-elem">
                        <strong>1956年苏联地质图</strong>
                        <em>原苏联出版</em>
                        <b>查看</b>
                    </div>
                </a>
            </div>
		</div>
		<div class="row">
            <div class="item col-md-2 col-sm-6 col-xs-12">
                <img src="${site.sitePath}assets/onepage/img/portfolio/10.jpg" alt="NAME" class="img-responsive">
                <a href="${site.sitePath}assets/onepage/img/portfolio/10.jpg" class="zoom valign-center">
                    <div class="valign-center-elem">
                        <strong>天山兴蒙造山带及邻区侵入岩地质图（200万）</strong>
                        <em>王涛团队</em>
                        <b>查看</b>
                    </div>
                </a>
            </div>
            <div class="item col-md-2 col-sm-6 col-xs-12">
                <img src="${site.sitePath}assets/onepage/img/portfolio/9.jpg" alt="NAME" class="img-responsive">
                <a href="${site.sitePath}assets/onepage/img/portfolio/9.jpg" class="zoom valign-center">
                    <div class="valign-center-elem">
                        <strong>Mesozoic granitoid and related intrusion map of Asia</strong>
                        <em>王涛团队</em>
                        <b>查看</b>
                    </div>
                </a>
            </div>
             <div class="item col-md-2 col-sm-6 col-xs-12">
                <img src="${site.sitePath}assets/onepage/img/portfolio/7.jpg" alt="NAME" class="img-responsive">
                    <a href="${site.sitePath}assets/onepage/img/portfolio/7.jpg" class="zoom valign-center">
                    <div class="valign-center-elem">
                        <strong>月球地质图</strong>
                        <em>地质所</em>
                        <b>查看</b>
                    </div>
                </a>
            </div>
            <div class="item col-md-2 col-sm-6 col-xs-12">
                <img src="${site.sitePath}assets/onepage/img/portfolio/2.jpg" alt="NAME" class="img-responsive">
                <a href="${site.sitePath}assets/onepage/img/portfolio/2.jpg" class="zoom valign-center">
                    <div class="valign-center-elem">
                        <strong>中国大型变形构造图</strong>
                        <em>地质所李锦轶张进团队</em>
                        <b>查看</b>
                    </div>
                </a>
            </div>
            <div class="item col-md-2 col-sm-6 col-xs-12">
                <img src="${site.sitePath}assets/onepage/img/portfolio/7.jpg" alt="NAME" class="img-responsive">
                    <a href="${site.sitePath}assets/onepage/img/portfolio/7.jpg" class="zoom valign-center">
                    <div class="valign-center-elem">
                        <strong>月球地质图</strong>
                        <em>地质所</em>
                        <b>查看</b>
                    </div>
                </a>
            </div>
			  <div class="item col-md-2 col-sm-6 col-xs-12">
                <img src="${site.sitePath}assets/onepage/img/portfolio/1.jpg" alt="NAME" class="img-responsive">
                <a href="${site.sitePath}assets/onepage/img/portfolio/1.jpg" class="zoom valign-center">
                    <div class="valign-center-elem">
                        <strong>亚洲花岗岩图</strong>
                        <em>地质所王涛团队</em>
                        <b>查看</b>
                    </div>
                </a>
            </div>
			
        </div>
    </div>
    <!-- Portfolio block END -->页面片段