    <!-- Portfolio block BEGIN -->
    <div class="portfolio-block content content-center" id="portfolio">
        <div class="container">
            <h2 class="margin-bottom-50">Published <strong>Geological Map</strong></h2>
        </div>
        <div class="row">
            <div class="item col-md-2 col-sm-6 col-xs-12">
              <img src="${site.sitePath}publishmap/Intrusion of China (1：4000,000).png"  alt="Map missed" class="img-responsive">
                <a href="${site.sitePath}publishmap/Intrusion of China (1：4000,000).png"  target="_blank" class="zoom valign-center">
                    <div class="valign-center-elem">
                        <strong>Intrusion of China (1：4000,000) </strong>
                        <em> DDE-OnePetrology, Wang Tao, etc.</em>
                        <b>View </b>
                    </div>
                </a>
            </div>
            <div class="item col-md-2 col-sm-6 col-xs-12">
              <img src="${site.sitePath}publishmap/Granitoid and related intrusive rocks of North China and adjacent regions.png"  alt="Published map" class="img-responsive">
                    <a href="${site.sitePath}publishmap/Granitoid and related intrusive rocks of North China and adjacent regions.png" target="_blank" class="zoom valign-center">
                    <div class="valign-center-elem">
                        <strong>Granitoid and related intrusive rocks of North China and adjacent regions</strong>
                         <em> DDE-OnePetrology, Wang Tao, etc.</em>
                        <b>View </b>
                    </div>
                </a>
            </div>
            <div class="item col-md-2 col-sm-6 col-xs-12">
               <img src="${site.sitePath}publishmap/Granitoid map of CAOB.png" alt="NAME" class="img-responsive">
                    <a href="${site.sitePath}publishmap/Granitoid map of CAOB.png"  target="_blank" class="zoom valign-center">
                    <div class="valign-center-elem">
                        <strong>Granitoid map of CAOB</strong>
                         <em> DDE-OnePetrology, Wang Tao, etc.</em>
                        <b>View </b>
                    </div>
                </a>
            </div>
            <div class="item col-md-2 col-sm-6 col-xs-12">
               <img src="${site.sitePath}publishmap/Map of Granitoids and Related Rocks of Asia 2020 December.png"  alt="NAME" class="img-responsive">
                <a href="${site.sitePath}publishmap/Map of Granitoids and Related Rocks of Asia 2020 December.png" target="_blank" class="zoom valign-center">
                    <div class="valign-center-elem">
                        <strong>Map of Granitoids and Related Rocks of Asia 2020 December</strong>
                        <em> DDE-OnePetrology, Wang Tao, etc.</em>
                        <b>View </b>
                    </div>
                </a>
            </div>
            <div class="item col-md-2 col-sm-6 col-xs-12">
                <img src="${site.sitePath}publishmap/NE_ASIA MAP2019 update raster 10-11.png"  alt="NAME" class="img-responsive">
                <a href="${site.sitePath}publishmap/NE_ASIA MAP2019 update raster 10-11.png" target="_blank" class="zoom valign-center">
                    <div class="valign-center-elem">
                        <strong>NE_ASIA MAP2019 update raster 10-11</strong>
                         <em> DDE-OnePetrology, Wang Tao, etc.</em>
                        <b>View </b>
                    </div>
                </a>
            </div>
            <div class="item col-md-2 col-sm-6 col-xs-12">
               <img src="${site.sitePath}publishmap/Map of Mesozoic granitoids and related rocks of Asia_2019Oct.png"  alt="NAME" class="img-responsive">
                <a href="${site.sitePath}publishmap/Map of Mesozoic granitoids and related rocks of Asia_2019Oct.png" target="_blank" class="zoom valign-center">
                    <div class="valign-center-elem">
                        <strong>Map of Mesozoic granitoids and related rocks of Asia_2019 Oct</strong>
                        <em> DDE-OnePetrology, Wang Tao, etc.</em>
                        <b>View </b>
                    </div>
                </a>
            </div>
		</div>
		<div class="row">
            <div class="item col-md-2 col-sm-6 col-xs-12">
                <img src="${site.sitePath}publishmap/Map of Grantoids in Altai-Junggar-Tianshan area阿尔泰-准噶尔-天山-100万-基于亚洲花岗岩图.jpg"  alt="NAME" class="img-responsive">
                <a href="${site.sitePath}publishmap/Map of Grantoids in Altai-Junggar-Tianshan area阿尔泰-准噶尔-天山-100万-基于亚洲花岗岩图.jpg" target="_blank" class="zoom valign-center">
                    <div class="valign-center-elem">
                        <strong>Map of Grantoids in Altai-Junggar-Tianshan area</strong>
                        <em> DDE-OnePetrology, Wang Tao, etc.</em>
                        <b>View </b>
                    </div>
                </a>
            </div>
			<div class="item col-md-2 col-sm-6 col-xs-12">
            <img src="${site.sitePath}publishmap/Map of Magmatic Rocks of the World 20210315.jpg"  alt="NAME" class="img-responsive">
                <a href="${site.sitePath}publishmap/Map of Magmatic Rocks of the World 20210315.jpg" target="_blank" class="zoom valign-center">
                    <div class="valign-center-elem">
                        <strong>Map of Magmatic Rocks of the World 20210315</strong>
                        <em> DDE-OnePetrology, Wang Tao, etc.</em>
                        <b>View </b>
                    </div>
                </a>
            </div>
			
            
             <div class="item col-md-2 col-sm-6 col-xs-12">
                <img src="${site.sitePath}publishmap/Map of Magmatic rocks in Mongol-Okhotsk belt (C-J).jpg"  alt="NAME" class="img-responsive">
                    <a href="${site.sitePath}publishmap/Map of Magmatic rocks in Mongol-Okhotsk belt (C-J).jpg" target="_blank" class="zoom valign-center">
                    <div class="valign-center-elem">
                        <strong>Map of Magmatic rocks in Mongol-Okhotsk belt (C-J)</strong>
                       <em> DDE-OnePetrology, Wang Tao, etc.</em>
                        <b>View </b>
                    </div>
                </a>
            </div>
            <div class="item col-md-2 col-sm-6 col-xs-12">
                <img src="${site.sitePath}publishmap/Map of Magmatic rocks in Mongol-Okhotsk belt（C-P）.jpg" alt="NAME" class="img-responsive">
                <a href="${site.sitePath}publishmap/Map of Magmatic rocks in Mongol-Okhotsk belt（C-P）.jpg" target="_blank" class="zoom valign-center">
                    <div class="valign-center-elem">
                        <strong>Map of Magmatic rocks in Mongol-Okhotsk belt（C-P）</strong>
                         <em> DDE-OnePetrology, Wang Tao, etc.</em>
                        <b>View </b>
                    </div>
                </a>
            </div>
            <div class="item col-md-2 col-sm-6 col-xs-12">
                <img src="${site.sitePath}publishmap/Map of Magmatic rocks in Mongol-Okhotsk belt（T）.jpg"   alt="NAME" class="img-responsive">
                    <a href="${site.sitePath}publishmap/Map of Magmatic rocks in Mongol-Okhotsk belt（T）.jpg" target="_blank" class="zoom valign-center">
                    <div class="valign-center-elem">
                        <strong>Map of Magmatic rocks in Mongol-Okhotsk belt（T）</strong>
                        <em> DDE-OnePetrology, Wang Tao, etc.</em>
                        <b>View </b>
                    </div>
                </a>
            </div>
			  <div class="item col-md-2 col-sm-6 col-xs-12">
                <img src="${site.sitePath}publishmap/Map of Magmatic rocks in Mongol-Okhotsk belt（J）.jpg"  alt="NAME" class="img-responsive">
                <a href="${site.sitePath}publishmap/Map of Magmatic rocks in Mongol-Okhotsk belt（J）.jpg"  target="_blank" class="zoom valign-center">
                    <div class="valign-center-elem">
                        <strong>Map of Magmatic rocks in Mongol-Okhotsk belt（J）</strong>
                         <em> DDE-OnePetrology, Wang Tao, etc.</em>
                        <b>View </b>
                    </div>
                </a>
            </div>
			
        </div>
    </div>
    <!-- Portfolio block END -->