<div style="width:100%;height: 100%;" id="cesiumContainer"></div>
 <script type="text/javascript" >
Cesium.Ion.defaultAccessToken='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiJkMDg0NGQzMy05OTZmLTQzYzgtYTgwMC1hNzU5YjczNTM0NmYiLCJpZCI6OTk3OTUsImlhdCI6MTY1Njc1MjU0MH0.qUQAdQoWUIofLI4hscUPGTcfthBF879kUh5bzPAc2Js';
var viewer = new Cesium.Viewer( 'cesiumContainer', {
    animation : false,//是否创建动画小器件，左下角仪表
    baseLayerPicker : false,//是否显示图层选择器
    fullscreenButton : true,//是否显示全屏按钮
    geocoder : false,//是否显示geocoder小器件，右上角查询按钮
    homeButton : true,//是否显示Home按钮
    infoBox : false,//是否显示信息框
    sceneModePicker : false,//是否显示3D/2D选择器
    selectionIndicator : false,//是否显示选取指示器组件
    timeline : false,//是否显示时间轴
    navigationHelpButton : false,//是否显示右上角的帮助按钮
    scene3DOnly : true,//如果设置为true，则所有几何图形以3D模式绘制以节约GPU资源
    clock : new Cesium.Clock(),//用于控制当前时间的时钟对象
    selectedImageryProviderViewModel : undefined,//当前图像图层的显示模型，仅baseLayerPicker设为true有意义
    imageryProviderViewModels : Cesium.createDefaultImageryProviderViewModels(),//可供BaseLayerPicker选择的图像图层ProviderViewModel数组
    selectedTerrainProviderViewModel : undefined,//当前地形图层的显示模型，仅baseLayerPicker设为true有意义
    terrainProviderViewModels : Cesium.createDefaultTerrainProviderViewModels(),//可供BaseLayerPicker选择的地形图层ProviderViewModel数组
   // imageryProvider : new Cesium.OpenStreetMapImageryProvider( {
   //     credit :'',
   //     url : '//192.168.0.89:5539/planet-satellite/'
   // } ),//图像图层提供者，仅baseLayerPicker设为false有意义
    terrainProvider : new Cesium.EllipsoidTerrainProvider(),//地形图层提供者，仅baseLayerPicker设为false有意义
  //  skyBox : new Cesium.SkyBox({
  //      sources : {
  //        positiveX : 'Cesium-1.7.1/Skybox/px.jpg',
  //        negativeX : 'Cesium-1.7.1/Skybox/mx.jpg',
 //         positiveY : 'Cesium-1.7.1/Skybox/py.jpg',
  //        negativeY : 'Cesium-1.7.1/Skybox/my.jpg',
  //        positiveZ : 'Cesium-1.7.1/Skybox/pz.jpg',
  //        negativeZ : 'Cesium-1.7.1/Skybox/mz.jpg'
  //      }
  //  }),//用于渲染星空的SkyBox对象
    fullscreenElement : document.body,//全屏时渲染的HTML元素,
    useDefaultRenderLoop : true,//如果需要控制渲染循环，则设为true
    targetFrameRate : undefined,//使用默认render loop时的帧率
    showRenderLoopErrors : false,//如果设为true，将在一个HTML面板中显示错误信息
    automaticallyTrackDataSourceClocks : true,//自动追踪最近添加的数据源的时钟设置
    contextOptions : undefined,//传递给Scene对象的上下文参数（scene.options）
    sceneMode : Cesium.SceneMode.SCENE3D,//初始场景模式
    mapProjection : new Cesium.WebMercatorProjection(),//地图投影体系
    dataSources : new Cesium.DataSourceCollection()
    //需要进行可视化的数据源的集合
} );
let imageProvider = new Cesium.WebMapTileServiceImageryProvider({
        url:
          "${site.dynamicPath!}geoserver/gwc/service/wmts",
        layer: "dde:world2021", //图层名称
        style: "",
        format: "image/png",
        tileMatrixSetID: "EPSG:3857",
        tileMatrixLabels: [//这里一共发布了10层图层，有条件的可以多发布
          "EPSG:3857:0",
          "EPSG:3857:1",
          "EPSG:3857:2",
          "EPSG:3857:3",
          "EPSG:3857:4",
          "EPSG:3857:5",
          "EPSG:3857:6",
          "EPSG:3857:7",
          "EPSG:3857:8",
          "EPSG:3857:9",
          "EPSG:3857:10",
        ],
    	//规定好x，y轴所对应的地理位置
        tilingScheme: new Cesium.WebMercatorTilingScheme({
          numberOfLevelZeroTilesX: 1,
          numberOfLevelZeroTilesY: 1
        })
      });
viewer.imageryLayers.add(
    //将地图添加到cesium中
    new Cesium.ImageryLayer(imageProvider, 0)
);

	 let pointsLayer = new Cesium.WebMapTileServiceImageryProvider({
        url:
          "${site.dynamicPath!}geoserver/gwc/service/wmts",
        layer: "dde:SamplePoints", //图层名称
        style: "",
        format: "image/png",
        tileMatrixSetID: "EPSG:3857",
        tileMatrixLabels: [//这里一共发布了10层图层，有条件的可以多发布
          "EPSG:3857:0",
          "EPSG:3857:1",
          "EPSG:3857:2",
          "EPSG:3857:3",
          "EPSG:3857:4",
          "EPSG:3857:5",
          "EPSG:3857:6",
          "EPSG:3857:7",
          "EPSG:3857:8",
          "EPSG:3857:9",
          "EPSG:3857:10",
		  "EPSG:3857:11",
        ],
    	//规定好x，y轴所对应的地理位置
        tilingScheme: new Cesium.WebMercatorTilingScheme({
          numberOfLevelZeroTilesX: 1,
          numberOfLevelZeroTilesY: 1
        })
      });
viewer.imageryLayers.add(
    //将地图添加到cesium中
    new Cesium.ImageryLayer(pointsLayer, 0)
);

	 

</script>