<!-- BEGIN PRE-FOOTER -->
    <div class="pre-footer" id="contact">
        <div class="container">
            <div class="row">
                <!-- BEGIN BOTTOM ABOUT BLOCK -->
                <div class="col-md-4 col-sm-6 pre-footer-col">
                    <h2>About us</h2>
                    <p>We belong to the rock group of DDE science program, focusing on the research and construction of magmatic rock database. </p>
                    <p>Our team is composed of Institute of geology, Chinese Academy of Geological Sciences and development research center of China Geological Survey. We warmly welcome colleagues from all walks of life to join us.</p>
                </div>
                <!-- END BOTTOM ABOUT BLOCK -->
                <!-- BEGIN TWITTER BLOCK --> 
                <div class="col-md-4 col-sm-6 pre-footer-col">
                    <h2 class="margin-bottom-0">Links：</h2>
					<p><a href="http://www.cags.ac.cn">Chinese Academy of Geological Sciences</a> </p>
					<p><a href="http://igeo.cags.ac.cn">Institute of geology, Chinese Academy of Geological Sciences</a> </p>
					<p><a href="http://geocloud.cgs.gov.cn">GeoCloud</a> </p>
					<p><a href="http://www.ddeworld.org/">DDE World</a> </p>
                </div>
                <!-- END TWITTER BLOCK -->
                <div class="col-md-4 col-sm-6 pre-footer-col">
                    <!-- BEGIN BOTTOM CONTACTS -->
                    <h2>Contact us：</h2>
                    <address class="margin-bottom-20">
                        26 wanwanzhuang street, Xicheng District, Beijing<br>
                       Institute of geology, Chinese Academy of Geological Sciences<br>
                        Phone: 010-88332550<br>
                        Email: <a href="mailto:geowind@126.com">geowind@126.com</a><br>
                  </address>
                    <!-- END BOTTOM CONTACTS -->
                  
                </div>
				 <div class="col-md-12 ">
                    <h2>THANKS</h2>
                    
                    <p>The DDE platform (deep net) provides computing support.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- END PRE-FOOTER -->