<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<meta content="OnePetrology" name="description">
<meta content="Petrology  DDE  wangtao  igeo cags  cgs" name="keywords">
<meta content="dingyi " name="author">

<meta property="og:petrology" content="-CUSTOMER VALUE-">
<meta property="og:petrology" content="-CUSTOMER VALUE-">
<meta property="og:description" content="-CUSTOMER VALUE-">
<meta property="og:research" content="website">
<meta property="og:www.igeodata.org" content="-CUSTOMER VALUE-"><!-- link to image for socio -->
<meta property="og:www.igeodata.org" content="-CUSTOMER VALUE-">

<link rel="shortcut icon" href="favicon.ico">
<!-- Fonts START -->
<!--link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Pathway+Gothic+One|PT+Sans+Narrow:400+700|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all" rel="stylesheet" type="text/css"-->
<link href="${site.sitePath}assets/onepage/css/css.css" rel="stylesheet"  type="text/css"/>
<!-- Fonts END -->
<!-- Global styles BEGIN -->
<link href="${site.sitePath}assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<!-- Global styles END -->
<!-- Page level plugin styles BEGIN -->
<link href="${site.sitePath}assets/pages/css/animate.css" rel="stylesheet">
<link href="${site.sitePath}assets/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet">
<!-- Page level plugin styles END -->
<!-- Theme styles BEGIN -->
<link href="${site.sitePath}assets/pages/css/components.css" rel="stylesheet">
<link href="${site.sitePath}assets/pages/css/slider.css" rel="stylesheet">
<link href="${site.sitePath}assets/onepage/css/style.css" rel="stylesheet">
<link href="${site.sitePath}assets/onepage/css/style-responsive.css" rel="stylesheet">
<link href="${site.sitePath}assets/onepage/css/themes/red.css" rel="stylesheet" id="style-color">
<link href="${site.sitePath}assets/onepage/css/custom.css" rel="stylesheet">
  <script src="${site.sitePath}js/jquery-1.12.4.min.js"></script>
<!-- Theme styles END -->