<!DOCTYPE html>
<html lang="en">
<head>
<@_includePlace path="/63241365-51a7-4903-89e6-7619031fa9fe.html"/> <#-- Header-link -->
</head>
<body class="menu-always-on-top">

     <@_includePlace path="/c8014652-e25e-4c4d-a3ca-9aad7fa0385c.html"/> <#-- header -->


    <main>
		<div class="services-block content content-center" id="services">
			<h2>Welcome to OnePetrology.</h2><br/>
			
        <#if user??>
            <p>${user.nickName},You are already logged in!<a href="javascript:logout();">You can logout</a></p>
            <form action="${site.dynamicPath}doLogout.do" method="post">
                <input type="hidden" name="userId" value="${(user.id)!}"/>
                <input type="hidden" name="returnUrl" value="${returnUrl!site.sitePath!}"/>
            </form>
        <#else>
            <form action="${site.dynamicPath}doRegister.do" method="post">
                <#if error??>
                    <p class="red">${springMacroRequestContext.getMessage(error,error)}</p>
                </#if>
                <p><input type="text" name="name" placeholder="User name" title="User name" value="${name!}"/></p>
                <p><input type="text" name="nickName" placeholder="Nickname" title="Nickname" value="${nickname!}"/></p>
                <p><input type="password" name="password" placeholder="Password" title="Password"/></p>
                <p><input type="password" name="repassword" placeholder="Repeat password" title="Repeat password"/></p>
                <p>
                    <input type="hidden" name="returnUrl" value="${returnUrl!}"/>
                    <input type="hidden" name="clientId" value="${clientId!}"/>
                    <input type="hidden" name="uuid" value="${uuid!}"/>
                    <input type="submit" value="Register"/>
                </p>
                <p>Already have an account?<a href="login.html?clientId=${clientId!}&uuid=${uuid!}&returnUrl=${returnUrl!}">Please login</a></p>
            </form>
        </#if>
		</div>
    </main>
    <footer>
    <@_includePlace path="/f95e232b-027b-40ae-9e2d-0a6385f7c418.html"/> <#-- footer -->
    </footer>
<script>
function logout(){
    $("form").submit();
}
</script>
</body>
</html>