<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
<@_includePlace path="/Header-link.html"/> <#-- head-link -->
</head>
<body>
 <@_includePlace path="/header.html"/> <#-- header -->
	
	 <div class="locationbar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- start location -->
                    <ul class="breadcrumb pull-left">
                        <li class="breadcrumb-prefix breadcrumb-item d-none d-md-block">You Are Here: </li>

                        <li class="breadcrumb-item"><a href="${site.dynamicPath!}">Home</a></li>

                        <li class="breadcrumb-item"><a href="${site.dynamicPath!}contactus.html">Contact us</a></li>

                    </ul>
                    <!-- end location -->
                </div>
            </div>
        </div>
    </div>

    <div class="section-white">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="bc-blk-04">
                        <div class="bc-blk-bd">
                            <div class="bc-article-01">
                                <div class="caption">
                                    <h2 class="art-caption text-md-center">Contact us</h2>
                                </div>
                                <div class="body">
                                    <p style="text-align:center">
                                        <img alt="" src="${site.sitePath!}images/contact.jpg" />
                                    </p>
                                    <p>
                                        26 wanwanzhuang street,Xicheng District, Beijing
                                    </p>
                                    <p>
                                        Institute of geology, Chinese Academy of Geological Sciences
                                    </p>
                                    <p>
                                        Phone:010-83413869
                                    </p>
                                    <p>
                                       <a href="mailto:OnePetrology@126.com"> Email: OnePetrology@126.com</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <@_includePlace path="/53d9aa26-ab9a-41df-90d5-efc5307c3b3e.html"/> <#-- footer -->
</body>
</html>