<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
<@_includePlace path="/Header-link.html"/> <#-- head-link -->
</head>
<body>
   <@_includePlace path="/header.html"/> <#-- header -->
	
	<div class="locationbar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- start location -->
                    <ul class="breadcrumb pull-left">
                        <li class="breadcrumb-prefix breadcrumb-item d-none d-md-block">You Are Here: </li>

                        <li class="breadcrumb-item"><a href="${site.dynamicPath!}">Home</a></li>

                        <li class="breadcrumb-item"><a href="${site.dynamicPath!}objective.html">Objective</a></li>

                    </ul>
                    <!-- end location -->
                </div>
            </div>
        </div>
    </div>

    <div class="section-white">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="bc-blk-07">
                        <div class="bc-blk-hd">
                            <h4 class="bc-blk-hd-title"><span>Our Objective</span></h4>
                        </div>
                        <div class="bc-blk-bd">
                            <div class="bc-multi-col-pictext-list-01">
                                <div class="row">

                                    <div class="col-md-3 col-12 col-md-right-border">
                                        <div class="item plain top-space-clear top-space-clear-sm">
                                            <div class="img-ctn">
                                                <a href="#"  >
                                                    <img class="img-fluid" src="${site.sitePath!}images/objective1.jpg" />
                                                </a>
                                            </div>
                                            <div class="text-ctn">
                                                <h5 class="art-caption text-center" style="font-size:1.125rem;"><a href="#">Principle</a></h5>
                                                <p class="art-abstract">All for one, one for all.sharing and co construction</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-12 col-md-right-border">
                                        <div class="item plain top-space-clear">
                                            <div class="img-ctn">
                                                <a href="#">
                                                    <img class="img-fluid" src="${site.sitePath!}images/objective2.jpg" />
                                                </a>
                                            </div>
                                            <div class="text-ctn">
                                                <h5 class="art-caption text-center" style="font-size:1.125rem;"><a href="#">Goal</a></h5>
                                                <p class="art-abstract">Establish a global rock database</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-12 col-md-right-border">
                                        <div class="item plain top-space-clear">
                                            <div class="img-ctn">
                                                <a href="#">
                                                    <img class="img-fluid" src="${site.sitePath!}images/objective3.jpg" />
                                                </a>
                                            </div>
                                            <div class="text-ctn">
                                                <h5 class="art-caption text-center" style="font-size:1.125rem;"><a href="#">Share</a></h5>
                                                <p class="art-abstract">Share under DDE framework</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-12">
                                        <div class="item plain top-space-clear">
                                            <div class="img-ctn">
                                                <a href="#">
                                                    <img class="img-fluid" src="${site.sitePath!}images/objective4.jpg" />
                                                </a>
                                            </div>
                                            <div class="text-ctn">
                                                <h5 class="art-caption text-center" style="font-size:1.125rem;"><a href="#">Reseaerch</a></h5>
                                                <p class="art-abstract">Exchange scientific research achievements with global scientists</p>                                                
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- Pager Start -->
                            <!-- Pager End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
    <@_includePlace path="/53d9aa26-ab9a-41df-90d5-efc5307c3b3e.html"/> <#-- footer -->
</body>
</html>