<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh_CN">
<!--<![endif]-->

<!-- Head BEGIN -->
<head>
<@_includePlace path="/3d86a8bb-5d95-489e-9fe1-1660f417f147.html"/> <#-- 头部link文件 -->
</head>
<!--DOC: menu-always-on-top class to the body element to set menu on top -->
<body class="menu-always-on-top">
 
  <@_includePlace path="/f08128ae-47fa-48cd-a023-43d6f05b1498.html"/> <#-- header -->
	
	<@_includePlace path="/8efb237b-dc50-4bf6-b67b-8926da07bd10.html"/> <#-- 轮播图 -->

   <@_includePlace path="/c11e085e-5cdd-4caa-b2b6-eca573236d4a.html"/> <#-- 关于about -->

    <@_includePlace path="/dcc431f8-68ba-427e-abbb-5c5bbc98cc76.html"/> <#-- 服务service -->

<@_includePlace path="/327592c4-b61d-4707-86b5-f729cf409444.html"/> <#-- 消息Message -->
	
<@_includePlace path="/01c5a655-0b56-4605-87a3-2a9425dd9000.html"/> <#-- 团队Team -->
  
<@_includePlace path="/ddc8ea69-8edf-4912-b707-489595ac876f.html"/> <#-- 最近工作Latest work -->

   <@_includePlace path="/58a0ca0a-e1c9-4ba7-9857-3b7d80fd27be.html"/> <#-- 选择我们why us -->

<#-- <@_includePlace path="/7863c55f-3d5b-47df-b2e3-b643d7d58a63.html"/> checkout -->


<#-- <@_includePlace path="/deb67b2c-0234-4b97-a2bc-3b5775e6f4ce.html"/> 价格Price -->
<#--<@_includePlace path="/73e6804d-cf8f-4281-9fd6-f189e3825120.html"/>  用户反馈 -->
   
<#-- <@_includePlace path="/4f7eaa74-3149-4372-9786-e0afcb6d98fa.html"/> 友情链接 -->
   
<@_includePlace path="/bf83041d-82d4-475f-a1ec-87368fe32d49.html"/> <#-- 底部pre footer -->
 <#-- <@_includePlace path="/bd4f172b-3984-4cff-ab2a-e531b7f3be03.html"/>底部footer -->
	
	
    <a href="#promo-block" class="go2top scroll"><i class="fa fa-arrow-up"></i></a>

<!--[if lt IE 9]>
<script src="assets/plugins/respond.min.js"></script>
<![endif]-->
<!-- Load JavaScripts at the bottom, because it will reduce page load time -->
<!-- Core plugins BEGIN (For ALL pages) -->
<script src="${site.sitePath}assets/plugins/jquery.min.js" type="text/javascript"></script>
<script src="${site.sitePath}assets/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<script src="${site.sitePath}assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<!-- Core plugins END (For ALL pages) -->
<!-- Core plugins BEGIN (required only for current page) -->
<script src="${site.sitePath}assets/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script><!-- pop up -->
<script src="${site.sitePath}assets/plugins/jquery.easing.js"></script>
<script src="${site.sitePath}assets/plugins/jquery.parallax.js"></script>
<script src="${site.sitePath}assets/plugins/jquery.scrollTo.min.js"></script>
<script src="${site.sitePath}assets/onepage/scripts/jquery.nav.js"></script>
<!-- Core plugins END (required only for current page) -->
<!-- Global js BEGIN -->
<script src="${site.sitePath}assets/onepage/scripts/layout.js" type="text/javascript"></script>
<script src="${site.sitePath}assets/pages/scripts/bs-carousel.js" type="text/javascript"></script>
<script>
    jQuery(document).ready(function() {
        Layout.init();
    });
</script>
<!-- Global js END -->
	<div align="center"><img border="0" src="http://cc.amazingcounters.com/counter.php?i=3245378&c=9736447" alt="visit count"></div>
	
</body>
</html>