<@_dPLeadLeadEvaporation id=id><#assign a=object/></@_dPLeadLeadEvaporation>
<form method="post" action="dPLeadLeadEvaporation/save.do?callbackType=closeCurrent&navTabId=dPLeadLeadEvaporation/list" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
    <input name="id" type="hidden" value="${id!}" />
    <input type="hidden" name="_csrf" value="<@_csrfToken admin=true/>"/>
    <div class="formBar">
        <ul>
            <li><button type="submit" class="buttonActive"><@t.page 'button.save'/></button></li>
            <li><button type="button" class="button close"><@t.page 'button.close'/></button></li>
        </ul>
    </div>
    <div class="pageContent">
        <div class="pageFormContent" layoutH="56">
            <dl>
                <dt>ID：</dt>
                <dd><input class="required" name="id" type="text" size="30" value="${(a.id)!}"/></dd>
            </dl>
            <dl>
                <dt>衰变常数1 （1/年）：</dt>
                <dd><input class="required" name="decayConst1" type="text" size="30" value="${(a.decayConst1)!}"/></dd>
            </dl>
            <dl>
                <dt>衰变常数2 （1/年）：</dt>
                <dd><input class="required" name="decayConst2" type="text" size="30" value="${(a.decayConst2)!}"/></dd>
            </dl>
            <dl>
                <dt>(Pb<sup>207</sup>/Pb<sup>206</sup>)<sub>r</sub>：</dt>
                <dd><input class="required" name="pb207Pb206r" type="text" size="30" value="${(a.pb207Pb206r)!}"/></dd>
            </dl>
            <dl>
                <dt>测定误差 1：</dt>
                <dd><input class="required" name="measureError1" type="text" size="30" value="${(a.measureError1)!}"/></dd>
            </dl>
            <dl>
                <dt>(Pb<sup>204</sup>/Pb<sup>206</sup>)<sub>m</sub>：</dt>
                <dd><input class="required" name="pb204Pb206m" type="text" size="30" value="${(a.pb204Pb206m)!}"/></dd>
            </dl>
            <dl>
                <dt>测定误差 2：</dt>
                <dd><input class="required" name="measureError2" type="text" size="30" value="${(a.measureError2)!}"/></dd>
            </dl>
            <dl>
                <dt>铅 <sup>207</sup>-铅 <sup>206</sup> 年龄（Ma）：</dt>
                <dd><input class="required" name="pb207Pb206Age" type="text" size="30" value="${(a.pb207Pb206Age)!}"/></dd>
            </dl>
            <dl>
                <dt>年龄误差(Ma)：</dt>
                <dd><input class="required" name="ageError" type="text" size="30" value="${(a.ageError)!}"/></dd>
            </dl>
            <dl>
                <dt>备注：</dt>
                <dd><input class="required" name="remark" type="text" size="30" value="${(a.remark)!}"/></dd>
            </dl>
            <dl>
                <dt>样品：</dt>
                <dd><input class="required" name="sampleId" type="text" size="30" value="${(a.sampleId)!}"/></dd>
            </dl>
        </div>
    </div>
</form>