<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
<@_includePlace path="/Header-link.html"/> <#-- head-link -->
	<@_includePlace path="/5b99dd64-5fb7-4162-9d00-b2d53e3d1708.html"/> <#-- head-gis-link -->
</head>
<body>
    <main>
	<@_includePlace path="/header.html"/> <#-- header -->
  		
	<div class="section-white">
         <div class="container">
		 <div class="row">
                <div class="col-md-12">
                    <!-- start location -->
                    <ul class="breadcrumb pull-left">
                        <li class="breadcrumb-prefix breadcrumb-item d-none d-md-block">You Are Here: </li>

                        <li class="breadcrumb-item"><a href="${site.dynamicPath!}">Home</a></li>

                        <li class="breadcrumb-item"><a href="${site.dynamicPath!}gis/mapdetail.html">Igneous map of Asia</a></li>

                    </ul>
                    <!-- end location -->
                </div>
            </div>
	          <div style="width:100%;height: 800px;" id='map-container' >
              </div>
          </div>
</div>
<script>
    $(function() {
        var currentMap = createMap();//创建地图
        // var markers = new L.MarkerClusterGroup();
       // addMapPlugs(currentMap); //加载插件
        showPointInfo(currentMap);//显示当前点坐标信息
        //showAntPath(currentMap);
      // addMyResource(currentMap,markers);// 加载资源点
		currentMap.setView(L.latLng(43, 87), 3);
		//createLegend(currentMap);  //添加图例
		//addAllData(currentMap); //把所有的点加上
		
    })
    //加载数据
	function addAllData(map){

		 //用异步方式加载数据，以避免阻塞主页的加载
		$.ajax({
			url:"${site.dynamicPath!}api/directive/sampleList",  
			dataType:"json",   
			async:true,
			type:"GET",   //请求方式

			success:function(req){
			var leafletView = new PruneClusterForLeaflet();
			  console.log( "totalcount %d points",req.count);
			  for (a in req.page)
			  {
				p = req.page[a];
			 	//console.log(p);
				marker=new PruneCluster.Marker(p.latitude,p.longitude, {title:p.oraginalSampleId});
				leafletView.RegisterMarker(marker);
			  }
				//完成后一次性添加到图上
			  leafletView.PrepareLeafletMarker = function (marker, data) {
					str=data.title;
					var idindex=str.indexOf(':');
					var strid="";
					if(idindex>0){
						strid=str.substring(0,str.indexOf(':'));
					}else{
						strid=str.trim();
					}
					var strlink=str+'<br/><a href="${site.dynamicPath!}sampleinfo/add.html?id='+strid+'">edit</a>';
					if (marker.getPopup()) {
						marker.setPopupContent(strlink);
					} else {
						marker.bindPopup(strlink);
					}
				};

				map.addLayer(leafletView);
				console.log("添加到map");

			},
			error:function(){
				 console.log( "can't access server api");
			}
		});
    
   }
	
	//添加图例
	function createLegend(map){
		
		  const legend = L.control.Legend({
            position: "bottomright",
            collapsed: false,
            symbolWidth: 24,
            opacity: 0.6,
            column: 1,
            legends: [{
                label: "Age and geochemistry",
                type: "circle",
                radius: 4,
                color: "black",
                fillColor: "#FFFF00",
                fillOpacity: 0.6,
                weight: 2
            },{
                label: "Hf-O isotope",
                type: "circle",
                radius: 4,
                color: "black",
                fillColor: "#FF0000",
                fillOpacity: 0.6,
                weight: 2
            },{
                label: "U-Pb point dating",
                type: "circle",
                radius: 4,
                color: "black",
                fillColor: "#00FF00",
                fillOpacity: 0.6,
                weight: 2
            },{
                label: "IODP station",
                type: "circle",
                radius: 2.4,
                color: "blue",
                //fillColor: "#00FF00",
                fillOpacity: 0.6,
                weight: 1
            }]
        })
        .addTo(map);
	}
	
    //创建地图
    function createMap(){
       var newMap = L.map('map-container', {
            minZoom: 2,
            maxZoom: 13,
            crs: L.CRS.EPSG3857,
            fullscreenControl: {
                pseudoFullscreen: false
            },
            center: [0,0]
        });
		/*
        var url = '${site.dynamicPath!}geoserver/gwc/service/wmts';
        var matrixIds = [];
        for (var i = 0; i < 22; ++i) {
            matrixIds[i] = {
                identifier: i,
                topLeftCorner: new L.LatLng(90, -180)
            };
        }
		 var matrixIds3857 = new Array(16);
        for (var i= 0; i<16; i++) {
            matrixIds3857[i]= {
                identifier    : "" + i,
                topLeftCorner : new L.LatLng(20037508.3428,-20037508.3428)
            };
        }
     
        var ign = new L.TileLayer.WMTS(url, {
				minZoom:3,
			maxZoom:15,
            layer: 'dde:world2021',
            styles: 'default',
           tilematrixset: "EPSG:3857",
            format: 'image/png',
            matrixIds: matrixIds3857,
            attribution: '&copy; <a href="http://petrology.deep-time.org/">DDE OnePetrology</a> contributors'
        });
		newMap.addLayer(ign);
		 var pointsLayer = new L.TileLayer.WMTS(url, {
				minZoom:3,
			maxZoom:15,
            layer: 'dde:SamplePoints',
            styles: 'default',
           tilematrixset: "EPSG:3857",
            format: 'image/png',
            matrixIds: matrixIds3857,
            attribution: '&copy; <a href="http://petrology.deep-time.org/">DDE OnePetrology</a> contributors'
        });
        newMap.addLayer(pointsLayer);  */
		//换一种方式加载geoserver的图层
		var rocklayer = L.tileLayer('${site.dynamicPath!}geoserver/gwc/service/tms/1.0.0/dde%3Apetrology2020@EPSG%3A3857@png/{z}/{x}/{-y}.png', {
			 minZoom: 2,
			maxZoom: 18,
			attribution: '&copy; <a href="https://petrology.deep-time.org">OnePetrology</a> contributors'
		 });
		newMap.addLayer(rocklayer);
	    var pointslayer = L.tileLayer('${site.dynamicPath!}geoserver/gwc/service/tms/1.0.0/dde%3ASamplePoints@EPSG%3A3857@png/{z}/{x}/{-y}.png', {
			 minZoom: 2,
			maxZoom: 18,
			attribution: '&copy; <a href="https://petrology.deep-time.org">OnePetrology</a> contributors'
		 });
		//newMap.addLayer(pointslayer);
		
		
		//添加工具栏
        L.control.scale({'position': 'bottomleft', 'metric': true, 'imperial': false}).addTo(newMap);
		//背景底图
		var opacity=0.8; //背景底图透明度
		//Esri 的世界影像
		var Esri_WorldImagery = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
			attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
		});
		Esri_WorldImagery.setOpacity(opacity);
		//Osm De的地图，包含中英文两种标注
	    var OpenStreetMap_DE = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			maxZoom: 18,
			attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
		 });
		//OpenStreetMap_DE.setOpacity(opacity);
		//微软bing map的影像
		//var BING_KEY = 'AvewBhQcQ8oh_dZ0rYIkYfHrrQdj87mT42i4plCmcqccDe0JXsWaOSNi4NuWvH0Z';
       // var bingLayer = L.tileLayer.bing(BING_KEY);
	//	bingLayer.setOpacity(opacity);
		//高德影像
		//var imgm = L.tileLayer.chinaProvider('GaoDe.Satellite.Map', {
		//	maxZoom: 18,
		//	minZoom: 3
		//});
		//var imga = L.tileLayer.chinaProvider('GaoDe.Satellite.Annotion', {
		//	maxZoom: 18,
	//		minZoom: 3
	//	});
      //  gaodeLayer = L.layerGroup([imgm, imga]);
		//gaodeLayer.setOpacity(opacity);
		//高德地图
		var normalGaoDe = L.tileLayer.chinaProvider('GaoDe.Normal.Map', {
			maxZoom: 18,
			minZoom: 2
		});
		
		//天地图
		var normalm = L.tileLayer.chinaProvider('TianDiTu.Normal.Map', {
			key:'3359c151db487347bd379173613694a3',
        maxZoom: 18,
        minZoom: 2
    }),
    normala = L.tileLayer.chinaProvider('TianDiTu.Normal.Annotion', {
		key:'3359c151db487347bd379173613694a3',
        maxZoom: 18,
        minZoom: 2
    }),
    imgm = L.tileLayer.chinaProvider('TianDiTu.Satellite.Map', {
		key:'3359c151db487347bd379173613694a3',
        maxZoom: 18,
        minZoom: 2
    }),
    imga = L.tileLayer.chinaProvider('TianDiTu.Satellite.Annotion', {
		key:'3359c151db487347bd379173613694a3',
        maxZoom: 18,
        minZoom: 2
    });

var tianditunormal = L.layerGroup([normalm, normala]),
    tiandituimage = L.layerGroup([imgm, imga]);

// 自己的底图
			var ourbaselayer = L.tileLayer('${site.dynamicPath!}geoserver/gwc/service/tms/1.0.0/dde%3Aworld2022@EPSG%3A3857@png/{z}/{x}/{-y}.png', {
			 minZoom: 2,
			maxZoom: 18,
			attribution: '&copy; <a href="https://petrology.deep-time.org">OnePetrology</a> contributors'
		 });
		
		//组合所有的背景图以供选择
			var baselayer={"Magmatic rocks": ourbaselayer,"ESRI":Esri_WorldImagery,"OSM":OpenStreetMap_DE,"TianDiTu":normalm,"TianDiTu Satelite":imgm,"GaoDe":normalGaoDe};
		 L.control.layers(baselayer, null).addTo(newMap);
		  newMap.addLayer(ourbaselayer); //默认添加天地图
		
		rocklayer.setZIndex(9);  //确保岩浆岩图在上面
		pointslayer.setZIndex(10);//确保样品点在最上面 
        return newMap;
    }
    // 加载资源点
    function addMyResource(map,markers){
        //先过去分类再按照分类加载
        $.ajax({
            type: 'POST',
            url: 'getMapSiteResource.do?_csrf=<@_csrfToken admin=true/>',
            dataType: 'json',
            cache: false,
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    markers =  addMyResourcePoint(map,markers,data[i],i)
                }
                map.addLayer(markers);
            },
            error: function (data){
                alert("获取配置数据异常");
            }
        });
    }
   
    //加载插件
    function addMapPlugs(map){
        if(!map){
            return ;
        }
        //标记插件--geoman
        map.pm.addControls({
            position: 'topleft',
            drawCircle: true,
        });
	//绘制完成事件
       map.on('pm:create', e => {
        let shape = e.shape;
        //多边形
        if ('Polygon' === shape || 'Rectangle' === shape ||  'Circle' === shape) {
          // 处理绘制完成的逻辑
			console.log(e);//得到所绘的图形
			shapes = e.layer.toGeoJSON();
			console.log(shapes.geometry.type);//得到所绘的图形
		   console.log(shapes.geometry.coordinates);//得到所绘的图形
        }
      });


		
        //测距插件
        options = {
            position: 'topleft',            // Position to show the control. Values: 'topright', 'topleft', 'bottomright', 'bottomleft'
            unit: 'metres',                 // Show imperial or metric distances. Values: 'metres', 'landmiles', 'nauticalmiles'
            clearMeasurementsOnStop: true,  // Clear all the measurements when the control is unselected
            showBearings: false,            // Whether bearings are displayed within the tooltips
            bearingTextIn: 'In',           // language dependend label for inbound bearings
            bearingTextOut: 'Out',          // language dependend label for outbound bearings
            tooltipTextFinish: '点击<b>测距点结束测距</b><br>',
            tooltipTextDelete: '按住shift键同时点击测距点 <b>删除测距点</b>',
            tooltipTextMove: '当手形图标时可以 <b>移动测距点</b><br>',
            tooltipTextResume: '<br>Press CTRL-key and click to <b>resume line</b>',
            tooltipTextAdd: '按测距线上按住ctrl键 &nbsp;<b>增加测距点</b>',
            // language dependend labels for point's tooltips
            measureControlTitleOn: '打开多段线测量',   // Title for the control going to be switched on
            measureControlTitleOff: '关闭多段线测量', // Title for the control going to be switched off
            measureControlLabel: '&#8614;', // Label of the Measure control (maybe a unicode symbol)
            measureControlClasses: [],      // Classes to apply to the Measure control
            showClearControl: false,        // Show a control to clear all the measurements
            clearControlTitle: 'Clear Measurements', // Title text to show on the clear measurements control button
            clearControlLabel: '&times',    // Label of the Clear control (maybe a unicode symbol)
            clearControlClasses: [],        // Classes to apply to clear control button
            showUnitControl: false,         // Show a control to change the units of measurements
            distanceShowSameUnit: false,    // Keep same unit in tooltips in case of distance less then 1 km/mi/nm
            unitControlTitle: {             // Title texts to show on the Unit Control button
                text: 'Change Units',
                metres: 'metres',
                landmiles: 'land miles',
                nauticalmiles: 'nautical miles'
            },
            unitControlLabel: {             // Unit symbols to show in the Unit Control button and measurement labels
                metres: 'm',
                kilometres: 'km',
                feet: 'ft',
                landmiles: 'mi',
                nauticalmiles: 'nm'
            },
            tempLine: {                     // Styling settings for the temporary dashed line
                color: '#00f',              // Dashed line color
                weight: 2                   // Dashed line weight
            },
            fixedLine: {                    // Styling for the solid line
                color: '#006',              // Solid line color
                weight: 2                   // Solid line weight
            },
            startCircle: {                  // Style settings for circle marker indicating the starting point of the polyline
                color: '#000',              // Color of the border of the circle
                weight: 1,                  // Weight of the circle
                fillColor: '#0f0',          // Fill color of the circle
                fillOpacity: 1,             // Fill opacity of the circle
                radius: 3                   // Radius of the circle
            },
            intermedCircle: {               // Style settings for all circle markers between startCircle and endCircle
                color: '#000',              // Color of the border of the circle
                weight: 1,                  // Weight of the circle
                fillColor: '#ff0',          // Fill color of the circle
                fillOpacity: 1,             // Fill opacity of the circle
                radius: 3                   // Radius of the circle
            },
            currentCircle: {                // Style settings for circle marker indicating the latest point of the polyline during drawing a line
                color: '#000',              // Color of the border of the circle
                weight: 1,                  // Weight of the circle
                fillColor: '#f0f',          // Fill color of the circle
                fillOpacity: 1,             // Fill opacity of the circle
                radius: 3                   // Radius of the circle
            },
            endCircle: {                    // Style settings for circle marker indicating the last point of the polyline
                color: '#000',              // Color of the border of the circle
                weight: 1,                  // Weight of the circle
                fillColor: '#f00',          // Fill color of the circle
                fillOpacity: 1,             // Fill opacity of the circle
                radius: 3                   // Radius of the circle
            },
        };
        L.control.polylineMeasure(options).addTo(map);


        //搜索
        L.control.search({
            url: 'search.do?q={s}&_csrf=<@_csrfToken admin=true/>',
            textPlaceholder: 'Press Enter to Search...',
            position: 'topright',
            hideMarkerOnCollapse: true,
            marker: {
                icon: new L.Icon({iconUrl:'${site.sitePath}leaflet/images/custom-icon.png', iconSize: [40,40]}),
                circle: {
                    radius: 20,
                    color: '#0a0',
                    opacity: 1
                }
            }

        }).addTo(map);
    }
    //点击展示经纬度
    function showPointInfo(map){
        var mypop = L.popup();
        map.on('click', function(e) {
            var content = 'Current Point：<br>';
            content += e.latlng.lng+"，"+e.latlng.lat;
            mypop.setLatLng(e.latlng)
                .setContent(content)
                .openOn(map);
        });
    }

    function showAntPath(map){
        let arrs = [
            [31.30, 120.58],  // 苏州市
            [31.32, 120.63],   // 平江区
            [31.30, 120.63],   // 沧浪区
            [31.95789128, 120.64626101],
            [31.30, 120.75]  // 虎丘区
        ];
        //---------------------leaflet-antvPath--------------------------
        var antPath = L.polyline.antPath;
        var path = antPath(arrs, {
            "paused": false,   　　//暂停  初始化状态
            "reverse": false,　　//方向反转
            "delay": 1000,　　　　//延迟，数值越大效果越缓慢
            "dashArray": [10, 20],　//间隔样式
            "weight": 5,　　　　//线宽
            "opacity": 0.5,　　//透明度
            "color": "#0000FF",　//颜色
            "pulseColor": "#FFFFFF"　　//块颜色
        });
        path.addTo(map);
//---------------------leaflet-antvPath--------------------------
    }
</script>

		
		
	</main>
  <@_includePlace path="/53d9aa26-ab9a-41df-90d5-efc5307c3b3e.html"/> <#-- footer -->
    <script src="${site.dynamicPath}resource/js/cms.analytics.js"></script>
    <script>
        var ca = cmsAnalytics();
        var url='${site.dynamicPath}api/visit/record';
        if("string" ==typeof itemString){
            url=url+"?"+itemString;
        }
        ca.report(url);
    </script>
</body>
</html>