  <!-- Team block BEGIN -->
    <div class="team-block content content-center margin-bottom-40" id="team">
        <div class="container">
            <h2>目前 <strong>团队</strong></h2>
            <h4>主要由中国地质科学院地质研究所和中国地质调查局发展研究中心团队构成</h4>
            <!--div class="row">
                <div class="col-md-4 item">
                    <!--img src="${site.sitePath}assets/onepage/img/people/img6-large.jpg" alt="Marcus Doe" class="img-responsive"-->
                    <h3>团队领导1</h3>
                    <em>Founder</em>
                    <p>岩浆岩数据库团队的主要领导者</p>
                    
                </div>
                <div class="col-md-4 item">
                    <!--img src="${site.sitePath}assets/onepage/img/people/img7-large.jpg" alt="Elena Taylor" class="img-responsive"-->
                    <h3>团队领导2</h3>
                    <em>Designer</em>
                    <p>岩浆岩数据库团队的主要领导者</p>
                    
                </div>
                <div class="col-md-4 item">
                    <!--img src="${site.sitePath}assets/onepage/img/people/img8-large.jpg" alt="Cris Nilson" class="img-responsive"-->
                    <h3>团队领导3</h3>
                    <em>Developer</em>
                    <p>岩浆岩数据库团队的主要领导者</p>
                    
                </div>
            </div-->
        </div>
    </div>
    <!-- Team block END -->