 <!-- Choose us block BEGIN -->
    <div class="choose-us-block content text-center margin-bottom-40" id="benefits">
        <div class="container">
            <h2>数据 <strong>概览</strong></h2>
            <h4>参照DDE岩石数据库建设规范t, <a href="javascript:void(0);">构建岩浆岩数据库</a> ，通过excel模板采集，<br>提供数据校验工具，并经过审核之后才可以完成入库，双重保险确保了数据质量。<br>目前共有<@_sampleInfoList><strong> ${page.totalCount} </strong> </@_sampleInfoList>条样品数据，<@_zirconList><strong> ${page.totalCount} </strong> </@_zirconList>条锆石测量数据.</h4>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 text-left">
                    <img src="${site.sitePath}assets/onepage/img/choose-us.png" alt="Why to choose us" class="img-responsive">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 text-left">
                    <div class="panel-group" id="accordion1">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_1">数据库建设规范</a>
                                </h5>
                            </div>
                            <div id="accordion1_1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>由中国地质调查局发展研究中心王杨刚团队编制.</p>
                                    <p> <a href="${site.sitePath}全球岩石数据库建设技术标准（初稿H）.pdf"> 下载地址：全球岩石数据库建设技术标准（初稿H）.pdf </a></p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_2">Excel数据模板</a>
                                </h5>
                            </div>
                            <div id="accordion1_2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>由地质所岩浆岩数据库团队根据数据规范整理，提供具体的<a href="${site.sitePath}岩石数据库-新模板20210509.xlsx">excel导入模板。</a></p>
                                    <p>请根据要求进行删减，但格式不能改变，否则将导致入库困难。</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_3">表格提取工具</a>
                                </h5>
                            </div>
                            <div id="accordion1_3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>从pdf等文献中提取表格数据，进行了优化，支持cak和kdh以及pdf（文本格式）的表格批量提取。针对提取之后的数据结果，针对岩浆岩数据库进行了优化。</p>
                                    <p>该工具同样适用于其它学科的表格数据提取。<a href="http://igeodata.org/handle/20.500.11758/426" >下载地址：表格批量提取</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_4">数据审核</a>
                                </h5>
                            </div>
                            <div id="accordion1_4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>登录后台系统进行导入数据，并对数据进行审核，对于不符合要求的数据予以删除或者修改。</p>
                                    <p>审核是保证数据质量的第二道门槛，可以批量进行审核比对。</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_5">数据导出使用</a>
                                </h5>
                            </div>
                            <div id="accordion1_5" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>根据所提供数据的数量可以获取导出相应数据量的权益。</p>
                                    <p>导出的数据需要遵循DDE统一的数据使用规则。</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_6">数字化编图</a>
                                </h5>
                            </div>
                            <div id="accordion1_6" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>数据经过层层校验之后，进入智能编图环节。</p>
                                    <p>陆续将开放WFS等服务便于使用。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Choose us block END -->