 <!-- Testimonials block BEGIN -->
    <div class="testimonials-block content content-center margin-bottom-65">
        <div class="container">
            <h2>Customer <strong>testimonials</strong></h2>
            <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</h4>
            <div class="carousel slide" data-ride="carousel" id="testimonials-block">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <!-- Carousel items -->
                    <div class="active item">
                        <blockquote>
                            <p>This is the most awesome, full featured, easy, costomizeble theme. It’s extremely responsive and very helpful to all suggestions.</p>
                        </blockquote>
                        <span class="testimonials-name">Mark Doe</span>
                    </div>
                    <!-- Carousel items -->
                    <div class="item">
                        <blockquote>
                            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse.</p>
                        </blockquote>
                        <span class="testimonials-name">Joe Smith</span>
                    </div>
                    <!-- Carousel items -->
                    <div class="item">
                        <blockquote>
                            <p>Williamsburg carles vegan helvetica. Cosby sweater eu banh mi, qui irure terry richardson ex squid Aliquip placeat salvia cillum iphone.</p>
                        </blockquote>
                        <span class="testimonials-name">Linda Adams</span>
                    </div>
                </div>
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#testimonials-block" data-slide-to="0" class="active"></li>
                    <li data-target="#testimonials-block" data-slide-to="1"></li>
                    <li data-target="#testimonials-block" data-slide-to="2"></li>
                </ol>
            </div>
        </div>
    </div>
    <!-- Testimonials block END -->