    <!-- Promo block BEGIN -->
    <div class="promo-block" id="promo-block">
        <div id="carousel-example-generic" class="carousel slide carousel-slider" style="margin-top: 60px;">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <!-- First slide -->
                <div class="item carousel-item-one active">
                    <div class="center-block">
                        <div class="center-block-wrap">
                            <div class="center-block-body">
                                <h2 class="margin-bottom-20 animate-delay carousel-title-v1" data-animation="animated fadeInDown">
                                    DDE <span class="color-red">岩浆岩数据库</span> 已发布
                                </h2>
                                <div class="animated flipInX">
                                    <div class="hidden-xs">
                                        <i class="promo-like fa fa-thumbs-up"></i>
                                        <div class="promo-like-text">
                                            <h2>积极参与DDE大科学计划</h2>
                                            <p>在DDE专家组的指导下开展研究与共享合作。<br>地质所王涛团队<a href="javascript:void(0);">DDE-岩浆岩数据库与学科研究</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Second slide -->
                <div class="item carousel-item-two">
                    <h2 class="carousel-position-one animate-delay carousel-title-v1" data-animation="animated fadeInDown">
                        多方面收集整理 <span class="color-red">国内外</span> 岩浆岩数据
                    </h2>
                    <img class="carousel-position-two hidden-sm hidden-xs animate-delay" src="${site.sitePath}assets/onepage/img/slider/Slide2_iphone_left.png" alt="Iphone" data-animation="animated fadeInUp">
                    <img class="carousel-position-three hidden-sm hidden-xs animate-delay" src="${site.sitePath}assets/onepage/img/slider/Slide2_iphone_right.png" alt="Iphone" data-animation="animated fadeInUp">
                </div>

                <!-- Third slide -->
                <div class="item carousel-item-three">
                    <div class="center-block">
                        <div class="center-block-wrap">
                            <div class="center-block-body">
                                <h3 class="margin-bottom-20 animate-delay carousel-title-v2" data-animation="animated fadeInDown">
                                   在大数据模式下 <br/> 探索新的科研模式
                                </h3>
                                <span class="carousel-subtitle-v1">DDE-岩浆岩数据库与学科研究组</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <!-- Promo block END -->