
    <!-- BEGIN FOOTER -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <!-- BEGIN COPYRIGHT -->
                <div class="col-md-4 col-sm-4">
                    <div class="copyright">2014 © Metronic One Page.KeenThemes  ALL Rights Reserved.</div>
                </div>
                <!-- END COPYRIGHT -->
                <!-- BEGIN SOCIAL ICONS -->
                <div class="col-md-4 col-sm-4">
                    <ul class="social-icons">
                        <li><a class="rss" data-original-title="rss" href="javascript:void(0);"></a></li>
                        <li><a class="facebook" data-original-title="facebook" href="javascript:void(0);"></a></li>
                        <li><a class="twitter" data-original-title="twitter" href="javascript:void(0);"></a></li>
                        <li><a class="googleplus" data-original-title="googleplus" href="javascript:void(0);"></a></li>
                        <li><a class="linkedin" data-original-title="linkedin" href="javascript:void(0);"></a></li>
                        <li><a class="youtube" data-original-title="youtube" href="javascript:void(0);"></a></li>
                        <li><a class="vimeo" data-original-title="vimeo" href="javascript:void(0);"></a></li>
                        <li><a class="skype" data-original-title="skype" href="javascript:void(0);"></a></li>
                    </ul>
                </div>
                <!-- END SOCIAL ICONS -->
                <!-- BEGIN COPYRIGHT -->
                <div class="col-md-4 col-sm-4 text-right">
                    <p class="powered">More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
                </div>
                <!-- END COPYRIGHT -->
            </div>
        </div>
    </div>
    <!-- END FOOTER -->