<!-- BEGIN PRE-FOOTER -->
    <div class="pre-footer" id="contact">
        <div class="container">
            <div class="row">
                <!-- BEGIN BOTTOM ABOUT BLOCK -->
                <div class="col-md-4 col-sm-6 pre-footer-col">
                    <h2>关于我们</h2>
                    <p>我们隶属于DDE大科学计划岩石组，聚焦于岩浆岩数据库的研究与建设。 </p>
                    <p>我们团队由中国地质科学院地质研究所和中国地质调查局发展研究中心组成，热忱欢迎各界同行的加盟。.</p>
                </div>
                <!-- END BOTTOM ABOUT BLOCK -->
                <!-- BEGIN TWITTER BLOCK --> 
                <div class="col-md-4 col-sm-6 pre-footer-col">
                    <h2 class="margin-bottom-0">友情链接：</h2>
					<p><a href="http://www.cags.ac.cn">中国地质科学院</a> </p>
					<p><a href="http://igeo.cags.ac.cn">中国地质科学院地质研究所</a> </p>
					<p><a href="http://geocloud.cgs.gov.cn">地质云</a> </p>
                </div>
                <!-- END TWITTER BLOCK -->
                <div class="col-md-4 col-sm-6 pre-footer-col">
                    <!-- BEGIN BOTTOM CONTACTS -->
                    <h2>联系我们</h2>
                    <address class="margin-bottom-20">
                        北京市西城区百万庄大街26号<br>
                        中国地质科学院地质研究所<br>
                        Phone: 010-88332550<br>
                        Email: <a href="mailto:geowind@126.com">geowind@126.com</a><br>
                  </address>
                    <!-- END BOTTOM CONTACTS -->
                  
                </div>
            </div>
        </div>
    </div>
    <!-- END PRE-FOOTER -->