    <!-- About block BEGIN -->
    <div class="about-block content content-center" id="about">
        <div class="container">
            <h2><strong> DDE-岩浆岩数据库</strong> 与学科研究</h2>
            <h4>聚焦于全球范围内的岩浆岩研究。</h4>
            <div class="ab-trio">
                <img src="${site.sitePath}assets/onepage/img/trio.png" alt="" class="img-responsive">
                <div class="ab-cirlce ab-cirle-blue">
                    <i class="fa fa-code"></i>
                    <strong>收集整理数据</strong>
                </div>
                <div class="ab-cirlce ab-cirle-red">
                    <i class="fa fa-gift"></i>
                    <strong>科学研究</strong>
                </div>
                <div class="ab-cirlce ab-cirle-green">
                    <i class="fa fa-mobile"></i>
                    <strong>共享发布</strong>
                </div>
            </div>
        </div>
    </div>
    <!-- About block END -->