<!-- Services block BEGIN -->
    <div class="services-block content content-center" id="services">
        <div class="container">
            <h2>我们的 <strong>目标</strong></h2>
            <h4>建立全球范围内的岩石数据库，与全球科研工作者共享</h4>
            <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12 item">
                    <i class="fa fa-heart"></i>
                    <h3>原则</h3>
                    <p>我为人人，人人为我<br>共享共建</p>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 item">
                    <i class="fa fa-mobile"></i>
                    <h3>目标</h3>
                    <p>建立全球范围内的岩石数据库</p>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 item">
                    <i class="fa fa-signal"></i>
                    <h3>共享</h3>
                    <p>在DDE框架下共享</p>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 item">
                    <i class="fa fa-camera"></i>
                    <h3>科研</h3>
                    <p>与全球科学家交流科研成果</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Services block END -->