
    <!-- Prices block BEGIN -->
    <div class="prices-block content content-center" id="prices">
        <div class="container">
            <h2 class="margin-bottom-50"><strong>Pricing</strong> Tables</h2>
            <div class="row">
                <!-- Pricing item BEGIN -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="pricing-item">
                        <div class="pricing-head">
                            <h3>Beginner</h3>
                            <p>Lorem ipsum dolor</p>
                        </div>
                        <div class="pricing-content">
                            <div class="pi-price">
                                <strong>$<em>19</em></strong>
                                <p>Per Month</p>
                            </div>
                            <ul class="list-unstyled">
                                <li><i class="fa fa-circle"></i> Lorem ipsum dolor</li>
                                <li><i class="fa fa-circle"></i> Lorem ipsum dolor</li>
                                <li><i class="fa fa-circle"></i> Lorem ipsum dolor</li>
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <a class="btn btn-default" href="javascript:void(0);">Sign Up</a>
                        </div>
                    </div>
                </div>
                <!-- Pricing item END -->
                <!-- Pricing item BEGIN -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="pricing-item">
                        <div class="pricing-head">
                            <h3>Pro</h3>
                            <p>Lorem ipsum dolor</p>
                        </div>
                        <div class="pricing-content">
                            <div class="pi-price">
                                <strong>$<em>25</em></strong>
                                <p>Per Month</p>
                            </div>
                            <ul class="list-unstyled">
                                <li><i class="fa fa-circle"></i> Lorem ipsum dolor</li>
                                <li><i class="fa fa-circle"></i> Lorem ipsum dolor</li>
                                <li><i class="fa fa-circle"></i> Lorem ipsum dolor</li>
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <a class="btn btn-default" href="javascript:void(0);">Sign Up</a>
                        </div>
                    </div>
                </div>
                <!-- Pricing item END -->
                <!-- Pricing item BEGIN -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="pricing-item">
                        <div class="pricing-head">
                            <h3>Expert</h3>
                            <p>Lorem ipsum dolor</p>
                        </div>
                        <div class="pricing-content">
                            <div class="pi-price">
                                <strong>$<em>59</em></strong>
                                <p>Per Month</p>
                            </div>
                            <ul class="list-unstyled">
                                <li><i class="fa fa-circle"></i> Lorem ipsum dolor</li>
                                <li><i class="fa fa-circle"></i> Lorem ipsum dolor</li>
                                <li><i class="fa fa-circle"></i> Lorem ipsum dolor</li>
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <a class="btn btn-default" href="javascript:void(0);">Sign Up</a>
                        </div>
                    </div>
                </div>
                <!-- Pricing item END -->
                <!-- Pricing item BEGIN -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="pricing-item">
                        <div class="pricing-head">
                            <h3>Hi-Tech</h3>
                            <p>Lorem ipsum dolor</p>
                        </div>
                        <div class="pricing-content">
                            <div class="pi-price">
                                <strong>$<em>98</em></strong>
                                <p>Per Month</p>
                            </div>
                            <ul class="list-unstyled">
                                <li><i class="fa fa-circle"></i> Lorem ipsum dolor</li>
                                <li><i class="fa fa-circle"></i> Lorem ipsum dolor</li>
                                <li><i class="fa fa-circle"></i> Lorem ipsum dolor</li>
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <a class="btn btn-default" href="javascript:void(0);">Sign Up</a>
                        </div>
                    </div>
                </div>
                <!-- Pricing item END -->
            </div>
        </div>
    </div>
    <!-- Prices block END -->