   <!-- Header BEGIN -->
    <div class="header header-mobi-ext">
        <div class="container">
            <div class="row">
                <!-- Logo BEGIN -->
                <div class="col-md-2 col-s32">
                    <a class="scroll site-logo" href="#promo-block"  style="padding-top: 3px;"><img src="${site.sitePath}logo.png" style="width:160px;height=80px;" /></a>
                </div>
                <!-- Logo END -->
                <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>
                <!-- Navigation BEGIN -->
                <div class="col-md-10 pull-right">
                    <ul class="header-navigation">
                        <li class="current"><a href="#promo-block">Home</a></li>
                        <li><a href="#about">简介</a></li>
                        <li><a href="#services">研究目标</a></li>
                        <li><a href="#team">团队</a></li>
                        <li><a href="#portfolio">成果图件</a></li>
                        <li><a href="#benefits">数据概览</a></li>
                       <!--  <li><a href="#prices">合作</a></li>-->
                        <li><a href="#contact">联系我们</a></li>
                    </ul>
                </div>
                <!-- Navigation END -->
            </div>
        </div>
    </div>
    <!-- Header END -->