<@_traceElementData id=id><#assign a=object/></@_traceElementData>
<form method="post" action="traceElementData/save.do?callbackType=closeCurrent&navTabId=traceElementData/list" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
    <input name="id" type="hidden" value="${id!}" />
    <input type="hidden" name="_csrf" value="<@_csrfToken admin=true/>"/>
    <div class="formBar">
        <ul>
            <li><button type="submit" class="buttonActive"><@t.page 'button.save'/></button></li>
            <li><button type="button" class="button close"><@t.page 'button.close'/></button></li>
        </ul>
    </div>
    <div class="pageContent">
        <div class="pageFormContent" layoutH="56">
            <dl>
                <dt>ID：</dt>
                <dd><input class="required" name="id" type="text" size="30" value="${(a.id)!}"/></dd>
            </dl>
            <dl>
                <dt>样品：</dt>
                <dd><input class="required" name="sampleId" type="text" size="30" value="${(a.sampleId)!}"/></dd>
            </dl>
            <dl>
                <dt>分析元素：</dt>
                <dd><input class="required" name="analyzeElement" type="text" size="30" value="${(a.analyzeElement)!}"/></dd>
            </dl>
            <dl>
                <dt>分析数据(10<sup>-6</sup>）：</dt>
                <dd><input class="required" name="analyzeData" type="text" size="30" value="${(a.analyzeData)!}"/></dd>
            </dl>
        </div>
    </div>
</form>