<link rel="stylesheet" href="${site.sitePath}leaflet/leaflet.css" />
    <link rel="stylesheet" href="${site.sitePath}leaflet/leaflet-geoman.css" />
    <link rel="stylesheet" href="${site.sitePath}leaflet/Leaflet.PolylineMeasure.css" />
    <link rel="stylesheet" href="${site.sitePath}leaflet/leaflet-search.src.css" />
    <link rel="stylesheet" href="${site.sitePath}leaflet/leaflet.awesome-markers.css">
    <link href="${site.sitePath}font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="${site.sitePath}font-awesome/css/font-awesome-ie7.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="${site.sitePath}leaflet/Leaflet.fullscreen.css">
    <script src="${site.sitePath}leaflet/leaflet.js"></script>
    <script src="${site.sitePath}leaflet/Leaflet.fullscreen.js"></script>
    <script src="${site.sitePath}leaflet/leaflet-tilelayer-wmts-src.js"></script>
    <script src="${site.sitePath}leaflet/leaflet-geoman.min.js"></script>
    <script src="${site.sitePath}leaflet/Leaflet.PolylineMeasure.js"></script>
    <script src="${site.sitePath}leaflet/leaflet-search.src.js"></script>
    <script src="${site.sitePath}leaflet/leaflet.awesome-markers.js"></script>
    <script src="${site.sitePath}leaflet/leaflet-ant-path.js"></script>
	  
 <!--  聚类  -->
 <link rel="stylesheet" href="${site.sitePath}leaflet/pruneCluster.css">
	<script src="${site.sitePath}leaflet/PruneCluster.js"></script>
   <!--  图例  -->
    <link href="${site.sitePath}leaflet/leaflet.legend.css" rel="stylesheet">
    <script src="${site.sitePath}leaflet/leaflet.legend.js"></script>
    <script src="${site.sitePath}js/jquery-3.6.0.min.js"></script>
<!--<script src="${site.sitePath}js/jquery-3.6.0.min.map"></script>-->
 <script src="${site.sitePath}js/jquery_cookie.js"></script>
<script src="${site.sitePath}leaflet/leaflet.ChineseTmsProviders.js"></script>

   <!--  3d  cesium  -->
    <script src="${site.sitePath}Cesium/Cesium.js"></script>
	<link href="${site.sitePath}Cesium/Widgets/widgets.css" rel="stylesheet">