  <div class="navbar navbar-bc navbar-expand-md">
      <div class="container">
          <a class="navbar-brand" href="/"><img src="${site.sitePath}images/ddelogo.png" alt="petrology" /></a>
          <a class="navbar-brand" href="/"><img src="${site.sitePath}logo-deposit.png" alt="petrology" /></a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse-navbar">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="collapse-navbar">

              <ul class="nav navbar-nav">

                  <li class="nav-item dropdown">
                      <a data-toggle="dropdown" class="nav-link dropdown-toggle" href="/aaa/index.htm" data-text="About">About</a>
                      <ul class="dropdown-menu">
					<@_category code="About">
						<@_contentList categoryId=object.id  pageSize=100>
						    <#list page.list as a>
                         		 <li class="dropdown-item"><a href="${site.dynamicPath!}about.html?id=${a.id}" data-text="${a.title}">${a.title}</a></li>
                           </#list>
					   </@_contentList>
					</@_category>
						   <li class="dropdown-item"><a href="${site.dynamicPath!}contactus.html" data-text="Team">Contact Us</a></li>
                      </ul>
                  </li>

                  <!--li class="nav-item dropdown">
                      <a data-toggle="dropdown" class="nav-link dropdown-toggle" href="/geopark/hsh/index.htm" data-text="Submit Data">Submit Data</a>
                      <ul class="dropdown-menu">

                          <li class="dropdown-item"><a href="/geopark/hsh/index.htm" data-text="View Submissions">View Submissions</a></li>

                          <li class="dropdown-item"><a href="/geopark/fsh/index.htm" data-text="Submit New Data">Submit New Data</a></li>

                          <li class="dropdown-item"><a href="/geopark/wdlc/index.htm" data-text="Correct Data">Correct Data</a></li>
                          <li class="dropdown-item"><a href="/geopark/wdlc/index.htm" data-text="Data Template">Data Template</a></li>

                      </ul>
                  </li-->

                  <li class="nav-item dropdown">
                      <a data-toggle="dropdown" class="nav-link dropdown-toggle" href="/aaa/index.htm" data-text="Access Data">Access Data</a>
                      <ul class="dropdown-menu">

                          <li class="dropdown-item"><a href="${site.dynamicPath!}search/search.html" data-text="Search Data">Search Data</a></li>

                          <li class="dropdown-item"><a href="${site.dynamicPath!}subject/index.html" data-text="Thematic database">Thematic database</a></li>

                          <!--li class="dropdown-item"><a href="/aaa/wlcc/index.htm" data-text="Administrator">Administrator</a></li -->

                      </ul>
                  </li>

                  <li class="nav-item dropdown">
                      <a data-toggle="dropdown" class="nav-link dropdown-toggle" href="/maps.html" data-text="Map">Maps</a>
                      <ul class="dropdown-menu">

                          <li class="dropdown-item"><a href="/gis/mapdetail.html" data-text="worldmap">World Map of Magmatic Rocks（Online）</a></li>

  						   <li class="dropdown-item"><a href="/maps.html" data-text="worldmap">Recently published Maps</a></li>

                      </ul>
                  </li>

                  <li class="nav-item dropdown">
                      <a data-toggle="dropdown" class="nav-link dropdown-toggle" href="/geopark/hsh/index.htm" data-text="Map">Publications</a>
                      <ul class="dropdown-menu">

                          <li class="dropdown-item"><a href="/publications.html" data-text="2020 Asia Map & Data(3857)">Recently Papers List</a></li>

                          <!--li class="dropdown-item"><a href="/geopark/fsh/index.htm" data-text="2020 Asia Map & Data(4326)">2020 Asia Map & Data(4326)</a></li>

                          <li class="dropdown-item"><a href="/geopark/wdlc/index.htm" data-text="2020 Asia Map (3857)">2020 Asia Map (3857)</a></li>
                          <li class="dropdown-item"><a href="/geopark/wdlc/index.htm" data-text="2021 World Map (3857)">2021 World Map (3857)</a></li-->



                      </ul>
                  </li>
                  <!--li class="nav-item dropdown">
                      <a data-toggle="dropdown" class="nav-link dropdown-toggle" href="/geopark/hsh/index.htm" data-text="Map">En</a>
                      <ul class="dropdown-menu">

                          <li class="dropdown-item"><a href="/geopark/hsh/index.htm" data-text="2020 Asia Map & Data(3857)">中文</a></li>

                      </ul>
                  </li-->
              </ul>

          </div>
      </div>
  </div>
