<!DOCTYPE html>
<html lang="en">
<head>

<@_includePlace path="/Header-link.html"/> <#-- head-link -->
	<@_includePlace path="/5b99dd64-5fb7-4162-9d00-b2d53e3d1708.html"/> <#-- head-gis-link -->
	
		<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
	

	
</head>
<body>
<@_includePlace path="/header.html"/> <#-- header -->
	
	<div class="locationbar">
        <div class="container">
		
            <div class="row">
                <div class="col-md-12">
                    <!-- start location -->
                    <ul class="breadcrumb pull-left">
						 <li class="breadcrumb-prefix breadcrumb-item d-none d-md-block">You Are Here: </li>

                        <li class="breadcrumb-item"><a href="${site.dynamicPath!}">Home</a></li>
     
                        <li class="breadcrumb-item"><a href="${site.dynamicPath!}search/zircon_Hf_O_search.html"> Zircon Hf-O Isotopes Age Data</a></li>


                    </ul>
                    <!-- end location -->
                </div>
            </div>
        </div>
    </div>

	<div class="section-white">
        <div class="container">
			
            <div class="row">
                <div class="col-md-12">
                    <div class="bc-blk-04">
                        <div class="bc-blk-bd">
                            <div class="bc-multi-col-pictext-list-01">
								<@_includePlace path="/10c0737c-703e-49d7-bbe5-4433795e1937.html"/> <#-- 数据库概述 -->
                                <div class="row" style="padding:0 15%">
					
                                    <div class="col-md-4 col-12">
                                        <div class="item plain">
                                            <div class="img-ctn">
                                                <a href="/search/bylocation.html" >
                                                    <img class="img-fluid" src="${site.sitePath!}images/ByLocation.jpg" />
                                                </a>
                                            </div>
                                            <div class="text-ctn">
                                                <h5 class="art-caption text-center" style="font-size:1.125rem;"><a href="/search/bylocation.html" >By Location</a></h5>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-12">
                                        <div class="item plain">
                                            <div class="img-ctn">
                                                <a href="/search/bycondition.html" >
                                                    <img class="img-fluid" src="${site.sitePath!}images/ByFeature.jpg" />
                                                </a>
                                            </div>
                                            <div class="text-ctn">
                                                <h5 class="art-caption text-center" style="font-size:1.125rem;"><a href="/search/bycondition.html" >By Feature</a></h5>
                                            </div>
                                        </div>
                                    </div>

                              
                                    <p class="art-detail text-center" style="margin-top:3.125rem"><a href="/search/advance.html" >Advanced Search</a></p>
                                </div>
                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
	
	
<@_includePlace path="/53d9aa26-ab9a-41df-90d5-efc5307c3b3e.html"/> <#-- footer -->
	

	
    <script src="${site.dynamicPath}resource/js/cms.analytics.js"></script>
    <script>
        var ca = cmsAnalytics();
        var url='${site.dynamicPath}api/visit/record';
        if("string" ==typeof itemString){
            url=url+"?"+itemString;
        }
        ca.report(url);
		//设置session，然后跳转
		 sessionStorage.setItem("k_node",'Zircon_Hf_O_isotopes');
		 sessionStorage.setItem("owner", 'GEOWIND@126.COM' );
		 sessionStorage.setItem("scope", 'private' );
		 sessionStorage.setItem("extent", '' );  //主库默认不限制空间范围
							
	</script>
</body>
</html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>New PublicCMS Template</title>
</head>
<body>
    <main>New PublicCMS Template</main>
    <footer>
       <p>Powered by <a href="http://www.publiccms.com/">PublicCMS</a></p>
    </footer>
    <script src="${site.dynamicPath}resource/js/cms.analytics.js"></script>
    <script>
        var ca = cmsAnalytics();
        var url='${site.dynamicPath}api/visit/record';
        if("string" ==typeof itemString){
            url=url+"?"+itemString;
        }
        ca.report(url);
    </script>
</body>
</html>