<div class="pageHeader">
    <form class="pagerForm" onsubmit="return navTabSearch(this);" method="post">
        <#include "../include_page/parameters.html"/>
        <div class="searchBar">
            <ul class="searchContent">
                <li>
                    <label>样品：</label>
                    <input type="text" name="sampleId" value="${sampleId!}" />
                </li>
            </ul>
            <div class="subBar">
                <ul>
                    <li>
                    	<button type="submit" class="buttonActive"><@t.page 'button.search'/></button>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>
<@_sysAuthorized roleIds=admin.roles urls='rEElement/add,rEElement/delete'><#assign authorizedMap=map/></@_sysAuthorized>
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
        <#if authorizedMap['rEElement/add']>
            <li><a href="rEElement/add.html" target="navTab" rel="rEElement/add"><i class="icon-plus-sign-alt icon-large"></i> <@t.page 'button.add'/></a></li>
            <li><a href="rEElement/add.html?id={sid}" target="navTab" rel="rEElement/edit"><i class="icon-edit icon-large"></i> <@t.page 'button.edit'/></a></li>
        </#if>
        <#if authorizedMap['rEElement/delete']>
            <li><a href="rEElement/delete.do?_csrf=<@_csrfToken admin=true/>" title="<@t.page 'confirm.batch_delete'/>" target="selectedTodo" rel="ids"><i class="icon-trash icon-large"></i> <@t.page 'button.batch_delete'/></a></li>
        </#if>
        </ul>
    </div>
<@_rEElementList sampleId=sampleId 
            orderType=orderType pageIndex=pageNum pageSize=numPerPage>
    <table class="list" width="100%" layoutH="92">
        <thead>
            <tr>
                <th width="20"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
                <th>ID</th>
                <th orderField="sampleId" class="<#if orderField??&&'sampleId'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">样品</th>
                <th>镧(10<sup>-6</sup>)</th>
                <th>铈(10<sup>-6</sup>)</th>
                <th>镨(10<sup>-6</sup>)</th>
                <th>钕(10<sup>-6</sup>)</th>
                <th>钐(10<sup>-6</sup>)</th>
                <th>铕(10<sup>-6</sup>)</th>
                <th>钆(10<sup>-6</sup>)</th>
                <th>铽(10<sup>-6</sup>)</th>
                <th>镝(10<sup>-6</sup>)</th>
                <th>钬(10<sup>-6</sup>)</th>
                <th>铒(10<sup>-6</sup>)</th>
                <th>铥(10<sup>-6</sup>)</th>
                <th>镱(10<sup>-6</sup>)</th>
                <th>镥(10<sup>-6</sup>)</th>
                <th>钇(10<sup>-6</sup>)</th>
                <th>钪(10<sup>-6</sup>)</th>
                <th>稀土总量(10<sup>-6</sup>)</th>
                <th>数据形式</th>
                <th>备注</th>
                <th><@t.page 'operate'/></th>
            </tr>
        </thead>
        <tbody>
            <#list page.list as a>
            <tr target="sid" rel="${a.id}">
                <td><input name="ids" value="${a.id}" type="checkbox"></td>
                <td>${a.id!}</td>
                <td>${a.sampleId!}</td>
                <td>${a.la!}</td>
                <td>${a.ce!}</td>
                <td>${a.pr!}</td>
                <td>${a.nd!}</td>
                <td>${a.sm!}</td>
                <td>${a.eu!}</td>
                <td>${a.gd!}</td>
                <td>${a.tb!}</td>
                <td>${a.dy!}</td>
                <td>${a.ho!}</td>
                <td>${a.er!}</td>
                <td>${a.tm!}</td>
                <td>${a.yb!}</td>
                <td>${a.lu!}</td>
                <td>${a.y!}</td>
                <td>${a.sc!}</td>
                <td>${a.totalReElement!}</td>
                <td>${a.dataType!}</td>
                <td>${a.remark!}</td>
                <td>
                <#if authorizedMap['rEElement/delete']>
                    <a href="rEElement/delete.do?ids=${a.id}&_csrf=<@_csrfToken admin=true/>" title="<@t.page 'confirm.delete'/>"  target="ajaxTodo"><@t.page 'button.delete'/></a>
                </#if>
                </td>
            </tr>
            </#list>
        </tbody>
    </table>
    <#include "../include_page/page.html"/>
</@_rEElementList>
</div>