<@_granularityData id=id><#assign a=object/></@_granularityData>
<form method="post" action="granularityData/save.do?callbackType=closeCurrent&navTabId=granularityData/list" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
    <input name="id" type="hidden" value="${id!}" />
    <input type="hidden" name="_csrf" value="<@_csrfToken admin=true/>"/>
    <div class="formBar">
        <ul>
            <li><button type="submit" class="buttonActive"><@t.page 'button.save'/></button></li>
            <li><button type="button" class="button close"><@t.page 'button.close'/></button></li>
        </ul>
    </div>
    <div class="pageContent">
        <div class="pageFormContent" layoutH="56">
            <dl>
                <dt>ID：</dt>
                <dd><input class="required" name="id" type="text" size="30" value="${(a.id)!}"/></dd>
            </dl>
            <dl>
                <dt>样品：</dt>
                <dd><input class="required" name="sampleId" type="text" size="30" value="${(a.sampleId)!}"/></dd>
            </dl>
            <dl>
                <dt>φ 值分组：</dt>
                <dd><input class="required" name="phiValueGroup" type="text" size="30" value="${(a.phiValueGroup)!}"/></dd>
            </dl>
            <dl>
                <dt>颗粒数：</dt>
                <dd><input class="required" name="particleNumber" type="text" size="30" value="${(a.particleNumber)!}"/></dd>
            </dl>
            <dl>
                <dt>百分含量（%）：</dt>
                <dd><input class="required" name="percentage" type="text" size="30" value="${(a.percentage)!}"/></dd>
            </dl>
        </div>
    </div>
</form>