 <div class="section-white">
    <div class="container">
        <div class="row">
  				<div class="text-ctn col-md-6 col-sm-6 col-xs-12 text-left">
                    <img src="${site.sitePath}/images/choose-us.png" alt="Why to choose us" class="img-responsive img-fluid">
                </div>
            <div class="col-md-6">
                <div class="bc-blk-01">
                    <h4 class="bc-blk-hd"><span class="bc-blk-hd-title">Specification and Tools</span><span class="bc-blk-more-top pull-right"><small><a href="">more</a></small></span></h4>
                    <div class="bc-blk-bd">
                      <div class="bc-pictext-list-05" id="accordion25895">
                          
                            <div class="card item">
                              <h5 class="card-header"><a data-toggle="collapse" href="#collapse25895-1" aria-expanded="false" aria-controls="collapse25895-1">Database construction specification</a></h5>
                              <div id="collapse25895-1" class="collapse  show" data-parent="#accordion25895">
                                <div class="card-body">
                                    <div class="text-ctn">
                                       
                                         <p>Prepared by Wang Yanggang team of development research center of China Geological Survey.</p>
                                          <p> <a href="${site.sitePath}全球岩石数据库建设技术标准（初稿H）.pdf"> Download Url：specification.pdf </a></p>
                                        
                                    </div>
                                </div>
                              </div>
                            </div>
                          
                            <div class="card item">
                              <h5 class="card-header"><a data-toggle="collapse" href="#collapse25895-2" aria-expanded="false" aria-controls="collapse25895-2" class="collapsed">Excel Data Template</a></h5>
                              <div id="collapse25895-2" class="collapse" data-parent="#accordion25895">
                                <div class="card-body">
                                    <div class="text-ctn">
                                        <p class="art-abstract">
                                               <p>The magmatic rock database team of the Institute of geology shall sort out the data according to the data specification and provide specific data <a href="${site.sitePath}岩石数据库-新模板20210509.xlsx">import Excel Data Template.</a></p>
                                    <p>Please delete as required, but the format cannot be changed, otherwise it will lead to difficulties in warehousing.       </p>
                                    </div>
                                </div>
                              </div>
                            </div>
                          
                            <div class="card item">
                              <h5 class="card-header"><a data-toggle="collapse" href="#collapse25895-3" aria-expanded="false" aria-controls="collapse25895-3" class="collapsed">Table extraction tool</a></h5>
                              <div id="collapse25895-3" class="collapse" data-parent="#accordion25895">
                                <div class="card-body">
                                    <div class="text-ctn">
                                         <p>Table data is extracted from documents such as PDF and optimized to support CAK, KDH and PDF (text format) table batch extraction. According to the extracted data results, the magmatic rock database is optimized.</p>
                                    <p>The tool is also suitable for table data extraction in other disciplines.<a href="http://igeodata.org/handle/20.500.11758/426" >Download Url：Pdf Table Extractor</a></p>
                                    </div>
                                </div>
                              </div>
                            </div>
                          
                            <div class="card item">
                              <h5 class="card-header"><a data-toggle="collapse" href="#collapse25895-4" aria-expanded="false" aria-controls="collapse25895-4" class="collapsed">Data export usage</a></h5>
                              <div id="collapse25895-4" class="collapse" data-parent="#accordion25895">
                                <div class="card-body">
                                    <div class="text-ctn">
                                        <p class="art-abstract">
                                           <p>According to the amount of data provided, you can obtain and export the rights and interests of the corresponding amount of data.</p>
                                            <p>The exported data shall follow the unified data usage rules of DDE.</p>
                                        </p>
                                    </div>
                                </div>
                              </div>
                            </div>
                          
                            <div class="card item">
                              <h5 class="card-header"><a data-toggle="collapse" href="#collapse25895-5" aria-expanded="false" aria-controls="collapse25895-5" class="collapsed">Digital mapping</a></h5>
                              <div id="collapse25895-5" class="collapse" data-parent="#accordion25895">
                                <div class="card-body">
                                    <div class="text-ctn">
                                        <p class="art-abstract">
                                            <p>After the data is verified layer by layer, it enters the intelligent mapping link.</p>
                                    <p>WMS / WFS / WMTs and other services will be opened in succession for ease of use.</p>
                                        </p>
                                    </div>
                                </div>
                              </div>
                            </div>
                          
                            <div class="card item"  >
                              <h5 class="card-header" name="#collapse25895-6" ><a   data-toggle="collapse" href="#collapse25895-6" aria-expanded="false" aria-controls="collapse25895-6" class="collapsed">Desktop Software</a></h5>
                              <div id="collapse25895-6" class="collapse" data-parent="#accordion25895">
                                <div class="card-body">
                                    <div class="text-ctn">
                                        <p class="art-abstract">
                                          <p>Knowledge system construction, data processing, data query and export are carried out through desktop software.</p>
                                    <p>The desktop software is run on win10，16G Ram and i7 CPU above .<a href="http://8.218.13.217:8080/server/api/core/bitstreams/333dcb28-2743-4d15-bd27-2bc8d7612795/content"> Download: DDE-OnePetrology </a> and <a href="http://8.218.13.217:8080/server/api/core/bitstreams/1687b324-837b-4880-b2a2-082ca049f920/content"> User manual </a></p>
                                        </p>
                                    </div>
                                </div>
                              </div>
                            </div>
                          
                          
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>