  <div class="footer-top d-none d-md-block">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="bc-footer-blk">
                    <h4 class="bc-blk-hd"><span class="bc-blk-hd-title">About Us</span></h4>
                    <div class="bc-blk-bd">
                        <p>
                            We belong to the rock group of DDE science program, focusing on the research and construction of magmatic rock database.
                        </p>
                        <p>
                            Our team is composed of Institute of geology, Chinese Academy of Geological Sciences and development research center of China Geological Survey. We warmly welcome colleagues from all walks of life to join us.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="bc-footer-blk">
                    <h4 class="bc-blk-hd"><span class="bc-blk-hd-title">Links</span></h4>
                    <div class="bc-blk-bd">
                      <ul class="bc-caption-list-01">
                          
						   <li class="item">
                            <span class="art-caption"><a href="http://www.cgs.gov.cn/" title="Chinese Academy of Geological Sciences" target="_blank">China Geological Survey</a></span>
                          </li>
                          <li class="item">
                            <span class="art-caption"><a href="http://www.cags.cgs.gov.cn/" title="Chinese Academy of Geological Sciences" target="_blank">Chinese Academy of Geological Sciences</a></span>
                          </li>
                          
                          <li class="item">
                            <span class="art-caption"><a href="http://www.igeo.cgs.gov.cn/"  target="_blank">Institute of geology, Chinese Academy of Geological Sciences</a></span>
                          </li>
                          
                          <li class="item">
                            <span class="art-caption"><a href="https://geocloud.cgs.gov.cn/" target="_blank">GeoCloud</a></span>
                          </li>
                          
                          <li class="item">
                            <span class="art-caption"><a href="https://www.deep-time.org/" target="_blank">Deep Time</a></span>
                          </li>
                          
                      </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="bc-footer-blk">
                    <h4 class="bc-blk-hd"><span class="bc-blk-hd-title">Contact Us</span></h4>
                    <div class="bc-blk-bd">
                      <ul class="contact-us">
                        <li class="item contact-address"><span class="item-prefix">Address:</span><span class="item-detail">No. 26 Baiwanzhuang Street 100037 Beijing,China</span></li>
                        <li class="item contact-telephone"><span class="item-prefix">Telephone:</span><span class="item-detail">010-83413869</span></li>
                        <li class="item contact-email"><span class="item-prefix">E-mail:</span><span class="item-detail">OnePetrology@126.com</span></li>
                      </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="bc-blk-00 text-center">
                    <p><span class="footer-item">Institute of Geology, Chinese Academy of Geological Sciences
</span></p>
                </div>
            </div>
        </div>
    </div>
  </div>

  <div id="back-top"><a href="#"><i></i></a></div>
  <span id="pgid" data-pageid="37/840/0"></span>