<div class="section-white">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="bc-blk-06">
                      <div class="bc-blk-hd">
                          <h4 class="bc-blk-hd-title"><span>Brief Introduction</span></h4>
                          <p class="bc-blk-hd-desc">
                            OnePetrology, one of the Data Nodes of DDE (Deep-time Digital Earth), is responsible for the construction of the database for magmatic rocks in the website. The purpose is to establish a sharing service platform, to carry out in-depth mining, and to solve basic petrological and geological problems through big data analysis, digit mapping, and scientific research.
                          </p>
                      </div>
                      <!--div class="bc-blk-bd">
                          <div class="bc-multi-col-pictext-list-06">
                              <div class="row">

                                  <div class="col-md-4 col-12">
                                      <div class="item top-space-clear">
                                          <div class="icon-ctn">
                                              <a href="/subject/index.html" target="_blank"><i class="fa fa-database fontawesome-icon"></i></a>
                                          </div>
                                          <div class="text-ctn">
                                              <h4 class="art-caption"><a href="/subject/index.html" title="Database" target="_blank">Database</a></h4>
                                              <p class="art-abstract">Refer to DDE rock database construction specification, Construction of magmatic rock database ，Collection through excel template， Provide data verification tools，The warehousing can be completed only after audit, and the double insurance ensures the data quality.</p>
                                          </div>
                                      </div>
                                  </div>

                                  <div class="col-md-4 col-12">
                                      <div class="item top-space-clear top-space-clear-sm">
                                          <div class="icon-ctn">
                                              <a href="/maps.html" target="_blank"><i class="fa fa-map fontawesome-icon"></i></a>
                                          </div>
                                          <div class="text-ctn">
                                              <h4 class="art-caption"><a href="/maps.html" title="Digital Maps" target="_blank">Digital Maps</a></h4>
                                              <p class="art-abstract">Refer to DDE rock database construction specification, Construction of magmatic rock database ，Collection through excel template， Provide data verification tools，The warehousing can be completed only after audit, and the double insurance ensures the data quality.</p>
                                          </div>
                                      </div>
                                  </div>



                                  <div class="col-md-4 col-12">
                                      <div class="item top-space-clear">
                                          <div class="icon-ctn">
                                              <a href="/publications.html" target="_blank"><i class="fa fa-book fontawesome-icon"></i></a>
                                          </div>
                                          <div class="text-ctn">
                                              <h4 class="art-caption"><a href="/publications.html" title="Publications" target="_blank">Publications</a></h4>
                                              <p class="art-abstract">Refer to DDE rock database construction specification, Construction of magmatic rock database ，Collection through excel template， Provide data verification tools，The warehousing can be completed only after audit, and the double insurance ensures the data quality.</p>
                                          </div>
                                      </div>
                                  </div>

                              </div>
                          </div>
                      </div-->
                  </div>
              </div>
          </div>
      </div>
  </div>