 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=Edge">
 <meta name="rendener" content="webkit" />
 <meta name="renderer" content="webkit">
 <title>OnePetrology</title>
  <!-- 作者 -->
  <meta name="author" content="地科院地质所团队，王涛， 童英，郭磊，丁毅等}" />
  <!-- 定义页面的最新版本 -->
  <meta name="description" content="地科院地质所团队，王涛， 童英，郭磊，丁毅等" />
  <!-- 网站简介 -->
  <meta name="keywords" content="DDE  CAGS  OnePetrology  igneous magma  database" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="Copyright" content="Cags" />
  <meta name="Publisher" content="地科院地质所团队，王涛， 童英，郭磊，丁毅等" />

 <link href="${site.sitePath}style/css/bootstrap.min.css"  rel="stylesheet" type="text/css" />
 <link href="${site.sitePath}style/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
 <link href="${site.sitePath}style/css/style.css" rel="stylesheet" type="text/css" />
 <link href="${site.sitePath}style/css/animate.css" rel="stylesheet" type="text/css" />
 <script src="${site.sitePath}js/jquery-3.6.0.min.js"></script>
 <script src="${site.sitePath}js/jquery.cookie.js"></script>

 <script type="text/javascript" src="${site.sitePath}style/js/bootstrap.min.js"></script>
 <script type="text/javascript" src="${site.sitePath}style/js/wow.min.js"></script>
 <!--script type="text/javascript" src="${site.sitePath}style/js/common.js"></script-->
 <script type="text/javascript" src="${site.sitePath}style/js/main.js"></script>