<@_artificialHeavyMineralData id=id><#assign a=object/></@_artificialHeavyMineralData>
<form method="post" action="artificialHeavyMineralData/save.do?callbackType=closeCurrent&navTabId=artificialHeavyMineralData/list" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
    <input name="id" type="hidden" value="${id!}" />
    <input type="hidden" name="_csrf" value="<@_csrfToken admin=true/>"/>
    <div class="formBar">
        <ul>
            <li><button type="submit" class="buttonActive"><@t.page 'button.save'/></button></li>
            <li><button type="button" class="button close"><@t.page 'button.close'/></button></li>
        </ul>
    </div>
    <div class="pageContent">
        <div class="pageFormContent" layoutH="56">
            <dl>
                <dt>ID：</dt>
                <dd><input class="required" name="id" type="text" size="30" value="${(a.id)!}"/></dd>
            </dl>
            <dl>
                <dt>矿物名称：</dt>
                <dd><input class="required" name="mineralName" type="text" size="30" value="${(a.mineralName)!}"/></dd>
            </dl>
            <dl>
                <dt>矿物名称代号：</dt>
                <dd><input class="required" name="mineralCode" type="text" size="30" value="${(a.mineralCode)!}"/></dd>
            </dl>
            <dl>
                <dt>矿物（磁性）含量：</dt>
                <dd><input class="required" name="mineralMagneticContent" type="text" size="30" value="${(a.mineralMagneticContent)!}"/></dd>
            </dl>
            <dl>
                <dt>矿物（电磁性）含量：</dt>
                <dd><input class="required" name="mineralElectromagContent" type="text" size="30" value="${(a.mineralElectromagContent)!}"/></dd>
            </dl>
            <dl>
                <dt>矿物（重部分）含量：</dt>
                <dd><input class="required" name="mineralHeavyContent" type="text" size="30" value="${(a.mineralHeavyContent)!}"/></dd>
            </dl>
            <dl>
                <dt>矿物（轻部分）含量：</dt>
                <dd><input class="required" name="mineralLightContent" type="text" size="30" value="${(a.mineralLightContent)!}"/></dd>
            </dl>
            <dl>
                <dt>矿物特征描述：</dt>
                <dd><input class="required" name="mineralCharacter" type="text" size="30" value="${(a.mineralCharacter)!}"/></dd>
            </dl>
            <dl>
                <dt>晶形图：</dt>
                <dd><input class="required" name="crystalShapeFigure" type="text" size="30" value="${(a.crystalShapeFigure)!}"/></dd>
            </dl>
            <dl>
                <dt>基本信息：</dt>
                <dd><input class="required" name="relId" type="text" size="30" value="${(a.relId)!}"/></dd>
            </dl>
        </div>
    </div>
</form>