<html>
<head>
<@_includePlace path="/63241365-51a7-4903-89e6-7619031fa9fe.html"/> <#-- Header-link -->
</head>
<body  class="menu-always-on-top">
  <@_includePlace path="/c8014652-e25e-4c4d-a3ca-9aad7fa0385c.html"/> <#-- header -->
	<main>
            <div class="content content-center container" style="margin-top:150px;margin-bottom:100px">
        		  <!--iframe src="http://dde.igeodata.org/about/baidumap.html" width="720px" height="570px"/-->
				   <h2>Contact us：</h2>
                    <address class="margin-bottom-20">
                        26 wanwanzhuang street, Xicheng District, Beijing<br>
                       Institute of geology, Chinese Academy of Geological Sciences<br>
                        Phone: 010-88332550<br>
                        Email: <a href="mailto:geowind@126.com">geowind@126.com</a><br>
                  </address>
            </div>
	</main>
    <footer>
      <@_includePlace path="/f95e232b-027b-40ae-9e2d-0a6385f7c418.html"/> <#-- footer -->
    </footer>
</body>
</html>