<html>
<head>
<@_includePlace path="/63241365-51a7-4903-89e6-7619031fa9fe.html"/> <#-- Header-link -->
</head>
<body  class="menu-always-on-top">
  <@_includePlace path="/c8014652-e25e-4c4d-a3ca-9aad7fa0385c.html"/> <#-- header -->
	    <!-- About block BEGIN -->
    <div class="about-block content content-center" id="about" style="margin-top:100px;margin-bottom:100px">
        <div class="container" style="margin-top:100px;margin-bottom:100px">
            <h2><strong> DDE-OnePetrology</strong> And discipline research</h2>
            <h4>Focus on global magmatic rock research。</h4>
            <div class="ab-trio">
                <img src="${site.sitePath}assets/onepage/img/trio.png" alt="" class="img-responsive">
                <div class="ab-cirlce ab-cirle-blue">
                    <i class="fa fa-code"></i>
                    <strong>Collect and organize data</strong>
                </div>
                <div class="ab-cirlce ab-cirle-red">
                    <i class="fa fa-gift"></i>
                    <strong>Scientific research</strong>
                </div>
                <div class="ab-cirlce ab-cirle-green">
                    <i class="fa fa-mobile"></i>
                    <strong>Shared and Publishing</strong>
                </div>
            </div>
        </div>
    </div>
    <!-- About block END -->
	
    <footer>
      <@_includePlace path="/f95e232b-027b-40ae-9e2d-0a6385f7c418.html"/> <#-- footer -->
    </footer>
</body>
</html>