<html>
<head>
<@_includePlace path="/63241365-51a7-4903-89e6-7619031fa9fe.html"/> <#-- Header-link -->
</head>
<body  class="menu-always-on-top">
  <@_includePlace path="/c8014652-e25e-4c4d-a3ca-9aad7fa0385c.html"/> <#-- header -->
	<!-- Services block BEGIN -->
    <div class="services-block content content-center" id="services">
        <div class="container" style="margin-top:100px;margin-bottom:100px">
            <h2>Our  <strong>Objective</strong></h2>
            <h4>Establish a global rock database to share with global scientific researchers</h4>
            <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12 item">
                    <i class="fa fa-heart"></i>
                    <h3>Principle</h3>
                    <p>All for one, one for all<br>Sharing and co construction</p>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 item">
                    <i class="fa fa-mobile"></i>
                    <h3>Goal</h3>
                    <p>Establish a global rock database</p>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 item">
                    <i class="fa fa-signal"></i>
                    <h3>Share</h3>
                    <p>Share under DDE framework</p>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 item">
                    <i class="fa fa-camera"></i>
                    <h3>Research</h3>
                    <p>Exchange scientific research achievements with global scientists</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Services block END -->
	
    <footer>
      <@_includePlace path="/f95e232b-027b-40ae-9e2d-0a6385f7c418.html"/> <#-- footer -->
    </footer>
</body>
</html>