<html>
<head>
<@_includePlace path="/63241365-51a7-4903-89e6-7619031fa9fe.html"/> <#-- Header-link -->
</head>
<body  class="menu-always-on-top">
  <@_includePlace path="/c8014652-e25e-4c4d-a3ca-9aad7fa0385c.html"/> <#-- header -->
	 <!-- Team block BEGIN -->
    <div class="team-block content content-center margin-bottom-40" id="team">
        <div class="container"  style="margin-top:100px;margin-bottom:100px">
            <h2>Our <strong>Team</strong></h2>
            <h4>It is mainly composed of the Geological Research Institute of the Chinese Academy of Geological Sciences and the development research center of the China Geological Survey</h4>
            <div class="row">
                <div class="col-md-4 item">
                    <!--img src="${site.sitePath}assets/onepage/img/people/img6-large.jpg" alt="Marcus Doe" class="img-responsive"-->
                    <h3>Team Leader</h3>
                    <em>Founder</em>
                    <p>Wang Tao Professor,Main leader of magmatic rock database team</p>
                    
                </div>
                <div class="col-md-4 item">
                    <!--img src="${site.sitePath}assets/onepage/img/people/img7-large.jpg" alt="Elena Taylor" class="img-responsive"-->
                    <h3>Team Leader</h3>
                    <em>Designer</em>
                    <p>Tong Ying Professor,Main leader of magmatic rock database team</p>
                    
                </div>
                <div class="col-md-4 item">
                    <!--img src="${site.sitePath}assets/onepage/img/people/img8-large.jpg" alt="Cris Nilson" class="img-responsive"-->
                    <h3>Team Leader</h3>
                    <em>Developer</em>
                    <p>,Main leader of magmatic rock database team</p>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Team block END -->
    <footer>
      <@_includePlace path="/f95e232b-027b-40ae-9e2d-0a6385f7c418.html"/> <#-- footer -->
    </footer>
</body>
</html>